.dropdown-menu {
  transition: 0.33s opacity;
  overflow: hidden;
  margin-top: 13px;
  &:not(.show) {
    opacity: 0;
  }
}

.dropdown {
  &:before, &:after {
    top: 100%;
    left: 50%;
    visibility: hidden;
    transform: translate(-50%, 0);
  }
  &:before {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 14px solid #BDC0C9;
    margin-top: -1px;
  }
  &:after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 14px solid #fff;
    z-index: 1000;
  }
  &.show {
    &:before, &:after {
      visibility: visible;
    }
  }
}

.flags-dropdown {
  .dropdown-toggle:after {
    @include my_caret();
    margin-left: 15px;
  }
  .badge {
    line-height: 18px;
    height: 20px;
  }
}