
.ui-kit {

  h1 {
    margin-bottom: 20px;
  }
  i {
    margin-right: 10px;
    font-size: 20px;
  }

  img {
    margin-right: 10px;
  }
  .ui-group {
    margin: 40px 0;
    .active_icon {
      color: #62BC7F;
    }
  }
}