<section id="header">
  <div class="container">
    <div class="row">
      <div class="col-md-auto">
        <a href="#"
        ><img src="/src/assets/images/logo.svg" alt="Growsocial"
        /></a>
      </div>
      <div class="col">
        <nav role="navigation">
          <div id="menu-toggle">
            <input type="checkbox" id="mt"/> <span></span> <span></span>
            <span></span>
            <ul id="menu">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#deals">Pricing</a></li>
              <li><a href="#">Log in</a></li>
              <li><a href="#">Sign up</a></li>
              <li class="language-switcher">
                <a href="#" class="lang"
                ><span class="lang gb"></span
                ><span class="text">Languages</span></a
                >
                <div class="arrow"></div>
                <div class="languages">
                  <p>
                    GrowSocial’s system works for any country and language. The
                    system has been translated and have native customer support
                    for these languages
                  </p>
                  <div class="region europe">Europe</div>
                  <ul>
                    <li>
                      <a href="#"><i class="us"></i>US/International</a>
                    </li>
                    <li>
                      <a href="#"><i class="de"></i>Germany</a>
                    </li>
                    <li>
                      <a href="#"><i class="uk"></i>United Kingdom</a>
                    </li>
                    <li>
                      <a href="#"><i class="fr"></i>France</a>
                    </li>
                    <li>
                      <a href="#"><i class="it"></i>Italy</a>
                    </li>
                    <li>
                      <a href="#"><i class="es"></i>Spain</a>
                    </li>
                    <li>
                      <a href="#"><i class="nl"></i>Netherlands</a>
                    </li>
                    <li>
                      <a href="#"><i class="se"></i>Sweden</a>
                    </li>
                    <li>
                      <a href="#"><i class="pl"></i>Poland</a>
                    </li>
                    <li>
                      <a href="#"><i class="no"></i>Norway</a>
                    </li>
                    <li>
                      <a href="#"><i class="dk"></i>Denmark</a>
                    </li>
                    <li>
                      <a href="#"><i class="fi"></i>Finland</a>
                    </li>
                  </ul>
                  <div class="region asia">Asia</div>
                  <ul>
                    <li>
                      <a href="#"><i class="ja"></i>Japan</a>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
</section>
