{
  "presets": [
    "env"
    //    [
    //      "env",
    //      {
    //        "modules": false,
    //        "helpers": true,
    //        "polyfill": false,
    //        "regenerator": false
    //      }
    //    ]
  ]
}