//html {
//  @include media-breakpoint-down(sm) {
//    font-size: 14px;
//  }
//}
b {
  font-weight: 700;
}

h2 {
  @include media-breakpoint-down(sm) {
    font-size: 1.6rem;
  }
}

h3 {
  @include media-breakpoint-down(sm) {
    font-size: 1.4rem;
  }
}

h4 {
  @include media-breakpoint-down(sm) {
    font-size: 1.2rem;
  }
}

h6 {
  @include media-breakpoint-down(sm) {
    font-size: 0.875rem;
  }
}

.font-weight-light {
  font-weight: 300;
}

.font-weight-black {
  font-weight: 900;
}

strong {
  font-weight: 500;
}

.text-white {
  a {
    color: #fff;
    //&:hover, &:focus {
    //  color: darken(#fff, 5%);
    //}
  }
}

.text-asphalt {
  color: $asphalt;
}

.text-underline {
  text-decoration: underline;
}


