<div class="package-box">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 text-center">
        <h1>No commitment deals</h1>
      </div>
      <div class="col-12">
        <div class="row justify-content-center">
          <div class="col-auto">
            <div class="card package-card bg-white">
              <div class="card-body package-card--body">
                <div class="package-card--top card-title mb-0">
                  <h2 class="text-center mb-2">Starter</h2>
                  <div class="package-price text-center">
                    <p>99 €<span class="package-month">/month</span></p>
                  </div>
                </div>
                <div class="package-card--bottom">
                  <ul class="p-0">
                    <li>1 user</li>
                    <li>100 Searches per month</li>
                    <li>100 profile views / month</li>
                    <li>Support in Swedish</li>
                  </ul>
                  <a href="#" class="btn btn-block package-btn">14-day Free Trial</a>
                </div>

              </div>
            </div>
          </div>
          <div class="col-auto">
            <div class="card package-card bg-white">
              <div class="card-body package-card--body">
                <div class="package-card--top card-title mb-0">
                  <h2 class="text-center mb-2">Medium</h2>
                  <div class="package-price text-center">
                    <p>199 €<span class="package-month">/month</span></p>
                  </div>
                </div>
                <div class="package-card--bottom">
                  <ul class="p-0">
                    <li>5 user</li>
                    <li>Unlimited Searches</li>
                    <li>500 profile views / month</li>
                    <li>Support in Swedish</li>
                  </ul>
                  <a href="#" class="btn btn-block package-btn">14-day Free Trial</a>
                </div>

              </div>
            </div>
          </div>
          <div class="col-auto">
            <div class="card package-card bg-white">
              <div class="card-body package-card--body">
                <div class="package-card--top card-title mb-0">
                  <h2 class="text-center mb-2">Big Business</h2>
                  <div class="package-price text-center">
                    <p>299 €<span class="package-month">/month</span></p>
                  </div>
                </div>
                <div class="package-card--bottom">
                  <ul class="p-0">
                    <li>10 user</li>
                    <li>Unlimited Searches</li>
                    <li>2000 profile views / month</li>
                    <li>Priority Support in Swedish</li>
                  </ul>
                  <a href="#" class="btn btn-block package-btn">14-day Free Trial</a>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <h3>aaaaa</h3>
      </div>
    </div>
  </div>
</div>
