@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?4idrwg');
  src:  url('fonts/icomoon.eot?4idrwg#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?4idrwg') format('truetype'),
    url('fonts/icomoon.woff?4idrwg') format('woff'),
    url('fonts/icomoon.svg?4idrwg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="bwicon-"], [class*=" bwicon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bwicon-fb:before {
  content: "\e927";
}
.bwicon-in:before {
  content: "\e928";
}
.bwicon-logout1:before {
  content: "\e900";
}
.bwicon-arrow-left:before {
  content: "\e901";
}
.bwicon-arrow-right:before {
  content: "\e902";
}
.bwicon-back:before {
  content: "\e903";
}
.bwicon-delete:before {
  content: "\e904";
}
.bwicon-download:before {
  content: "\e905";
}
.bwicon-help:before {
  content: "\e906";
}
.bwicon-like:before {
  content: "\e907";
}
.bwicon-load:before {
  content: "\e908";
}
.bwicon-marker:before {
  content: "\e909";
}
.bwicon-pause:before {
  content: "\e90b";
}
.bwicon-phone:before {
  content: "\e90c";
}
.bwicon-photo:before {
  content: "\e90d";
}
.bwicon-play:before {
  content: "\e90e";
}
.bwicon-save:before {
  content: "\e90f";
}
.bwicon-search:before {
  content: "\e910";
}
.bwicon-send:before {
  content: "\e911";
}
.bwicon-settings:before {
  content: "\e912";
}
.bwicon-socialbox:before {
  content: "\e913";
}
.bwicon-star:before {
  content: "\e914";
}
.bwicon-time:before {
  content: "\e915";
}
.bwicon-upload:before {
  content: "\e916";
}
.bwicon-wrote:before {
  content: "\e917";
}
.bwicon-notification-i:before {
  content: "\e90a";
}
.bwicon-money:before {
  content: "\e918";
}
.bwicon-i:before {
  content: "\e919";
}
.bwicon-close:before {
  content: "\e91a";
}
.bwicon-arrow-up:before {
  content: "\e91b";
}
.bwicon-arrow-down:before {
  content: "\e91c";
}
.bwicon-arrow-up-bold:before {
  content: "\e91d";
}
.bwicon-arrow-down-bold:before {
  content: "\e91e";
}
.bwicon-arrow-left-bold:before {
  content: "\e91f";
}
.bwicon-arrow-right-bold:before {
  content: "\e920";
}
.bwicon-Page:before {
  content: "\e921";
}
.bwicon-calendar:before {
  content: "\e922";
}
.bwicon-mail:before {
  content: "\e923";
}
