$icomoon-font-path: "fonts" !default;

$bwicon-fb: \e927;
$bwicon-in: \e928;
$bwicon-logout1: \e900;
$bwicon-arrow-left: \e901;
$bwicon-arrow-right: \e902;
$bwicon-back: \e903;
$bwicon-delete: \e904;
$bwicon-download: \e905;
$bwicon-help: \e906;
$bwicon-like: \e907;
$bwicon-load: \e908;
$bwicon-marker: \e909;
$bwicon-pause: \e90b;
$bwicon-phone: \e90c;
$bwicon-photo: \e90d;
$bwicon-play: \e90e;
$bwicon-save: \e90f;
$bwicon-search: \e910;
$bwicon-send: \e911;
$bwicon-settings: \e912;
$bwicon-socialbox: \e913;
$bwicon-star: \e914;
$bwicon-time: \e915;
$bwicon-upload: \e916;
$bwicon-wrote: \e917;
$bwicon-notification-i: \e90a;
$bwicon-money: \e918;
$bwicon-i: \e919;
$bwicon-close: \e91a;
$bwicon-arrow-up: \e91b;
$bwicon-arrow-down: \e91c;
$bwicon-arrow-up-bold: \e91d;
$bwicon-arrow-down-bold: \e91e;
$bwicon-arrow-left-bold: \e91f;
$bwicon-arrow-right-bold: \e920;
$bwicon-Page: \e921;
$bwicon-calendar: \e922;
$bwicon-mail: \e923;

