.content-box--group {
  position: relative;
}

.single-profile--card {
  max-width: 420px;
  margin: 5px;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.28);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  .container-fluid {
    @include media-breakpoint-up(md) {
      padding: 0 15px;
    }

  }
  .media-body {
    font-weight: bold;
    @include media-breakpoint-down(sm) {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
}

.single-card--header {
  position: relative;
  padding-bottom: 50%;
  background-image: url("/src/assets/images/infl-card-bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  .influencer_actions {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    span {
      background-color: #56A4D6;
      border-radius: 8px;
      font-weight: normal;
      font-size: 13px;
      padding: 0 5px;
      @include media-breakpoint-up(sm) {
        padding: 0 15px;
      }
      @include media-breakpoint-up(md) {
        padding: 0 25px;
      }
    }
  }
}

.single-card--followers {
  .media {
    @include media-breakpoint-down(sm) {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
    }
  }
  .value {
    display: block;
    line-height: 1;
    color: #5FBC83;
    font-size: 16px;
  }
  .label {
    display: block;
    font-size: 11px;
  }
  @include media-breakpoint-up(sm) {
    .value {
      font-size: 22px;
    }
    .label {
      font-size: 12px;
    }
  }
}

.user_img {
  max-width: 42px;
}

.user_name {
  font-weight: bold;
}

.suffix {
  font-size: 16px;
}

.slider_val {
  max-width: 50%;
  text-align: right;
  float: right;
}

.influencer_item {
  color: inherit;
  @include transition(0.33s all);
  span {
    position: relative;
    vertical-align: middle;
    line-height: 22px;
    font-size: 13px;
    @include media-breakpoint-up(md) {
      font-size: 14px;
    }
    &.network-icon {
      width: 22px;
      height: 22px;
      @include media-breakpoint-up(sm) {
        width: rem-calc(32);
        height: rem-calc(32);
      }
    }

  }
  ul {
    font-size: 0;
  }
  li + li {
    margin-left: 4px;
    @include media-breakpoint-up(md) {
      margin-left: 10px;
    }
  }
  li {
    display: inline-block;
    list-style-type: none;
  }
}

.influencer-item--rating {
  i {
    position: relative;
    font-size: 21px;
    vertical-align: middle;
    line-height: 22px;
  }
}

.influencer-item--cost {
  span:last-child {
    font-weight: 500;
  }
}

.search_result_body {
  > ul {
    > li {
      position: relative;
      z-index: 1;
      a {
        display: block;
        @media (max-width: 575px) {
          padding-bottom: 70px;
        }
      }
      button {
        position: absolute;
        z-index: 10;
        bottom: 20px;
        @include media-breakpoint-up(sm) {
          position: absolute;
          top: 24px;
          right: 0;
        }
      }
      &:hover {
        .influencer_item {
          background-color: rgba(86, 164, 214, 0.1);
          color: inherit;
          //box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
        }

      }
    }

  }
  .more {
    font-size: 13px;
    a {
      padding: 15px 0;
    }
  }
}

.search_result .select2-container .select2-selection--single .select2-selection__arrow {
  width: 25px;
  @include media-breakpoint-up(sm) {
    width: 36px;
  }
}

.search_result .select2-container .select2-selection--single .select2-selection__rendered {
  padding-left: 10px;
  @include media-breakpoint-up(sm) {
    padding-left: 15px;
  }
}

.find-influencer {
  .container-fluid{
    max-width: 1400px;
  }
  .content-box {
    border: 1px solid #BDC0C9;
    .container-fluid {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  .nav-tabs {
    li + li {
      .nav-link {
        margin-left: 15px;
        padding: 10px 0;
        @include media-breakpoint-up(lg) {
          margin-left: 40px;
        }

      }
    }
  }
  .tab-pane {
    min-height: 75vh;
    padding-bottom: 50px;
  }
  .tab-pane--pages {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.find-influencer--navtabs {
  .owl-carousel {
    text-align: center;
    margin-left: -15px;
    margin-right: -15px;
    width: auto;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 18px;
    .nav-link {
      padding: 0;
      &:after {
        display: none;
      }
    }
  }
  .owl-nav {
    button {
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      line-height: 1;
      display: flex;
      align-items: center;
      width: 40px;
      height: 80%;
      justify-content: center;
      color: #bdc0c9;
      font-size: 18px;
      &.disabled {
        opacity: 0.3;
        cursor: default;
      }
      &.owl-prev {
        left: -15px;

        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+0,0+100;White+to+Transparent */
        background: -moz-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, .4) 100%); /* FF3.6-15 */
        background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(255, 255, 255, .4))); /* Chrome4-9,Safari4-5 */
        background: -webkit-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, .4) 100%); /* Chrome10-25,Safari5.1-6 */
        background: -o-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, .4) 100%); /* Opera 11.10-11.50 */
        background: -ms-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, .4) 100%); /* IE10 preview */
        background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, .4) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#00ffffff', GradientType=1); /* IE6-9 */
        color: #bdc0c9;
        font-size: 18px;
      }
      &.owl-next {
        right: -15px;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,1+100 */
        background: -moz-linear-gradient(left, rgba(255, 255, 255, .4) 0%, rgba(255, 255, 255, 1) 100%); /* FF3.6-15 */
        background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, .4)), color-stop(100%, rgba(255, 255, 255, 1))); /* Chrome4-9,Safari4-5 */
        background: -webkit-linear-gradient(left, rgba(255, 255, 255, .4) 0%, rgba(255, 255, 255, 1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: -o-linear-gradient(left, rgba(255, 255, 255, .4) 0%, rgba(255, 255, 255, 1) 100%); /* Opera 11.10-11.50 */
        background: -ms-linear-gradient(left, rgba(255, 255, 255, .4) 0%, rgba(255, 255, 255, 1) 100%); /* IE10 preview */
        background: linear-gradient(to right, rgba(255, 255, 255, .4) 0%, rgba(255, 255, 255, 1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=1); /* IE6-9 */
        color: #bdc0c9;
        font-size: 18px;
      }
    }
  }
  .owl-item {
    line-height: 1;
    .nav-item {
      opacity: 0.35;
      transform: scale(0.75);
      transition: 0.4s opacity, 0.4s transform;
    }
    .nav-link {
      font-size: inherit;
      color: inherit;
      padding: 15px 0;
      @include media-breakpoint-down(sm) {
        &:after {
          display: none;
        }
      }

    }
    &.center {
      .nav-item {
        opacity: 1;
        transform: scale(1);
        color: $blue;
      }
    }
  }
  .nav-item {
    margin-bottom: 0;
    & + .nav-item {
      margin-left: 20px;
      @include media-breakpoint-up(lg) {
        margin-left: 40px;
      }
    }
  }

}

.single-card--right {
  @include media-breakpoint-up(lg) {
    padding-top: 60px;
  }
}

.single-profile--card {
  position: relative;
  padding: 0;
  margin: 15px 0;
  box-shadow: none;
  max-width: none;
  display: block;
  .owl-carousel {
    .owl-item {
      z-index: 30;
      text-align: center;
    }
    .owl-nav {
      color: $asphalt;
      line-height: 1;
      font-size: 28px;
      @include transition(0.3s ease-in-out);
      @include media-breakpoint-up(sm) {
        font-size: 38px;
      }
      button {
        width: 45px;
        position: absolute;
        cursor: pointer;
        top: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 20;
        &.disabled {
          opacity: 0.3;
          cursor: default;
        }
        @include media-breakpoint-up(md) {
          width: 70px;
        }
      }
      i {
        position: absolute;
        color: #fff;
        font-size: 24px;
      }
      .owl-prev {
        background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.00) 100%);
        left: -70px;
        transition: 0.3s all;
        i {
          left: 10px;
        }
        @include media-breakpoint-up(sm) {
          justify-content: flex-start;
        }

      }
      .owl-next {
        background-image: linear-gradient(-90deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.00) 100%);
        right: -70px;
        @include transition(0.3s);
        i {
          right: 10px;
        }
        @include media-breakpoint-up(sm) {
          justify-content: flex-end;
        }

      }

    }
    //@include media-breakpoint-up(lg) {
    //	width: 290px;
    //	margin: auto;
    //}
    &:hover {
      cursor: pointer;
      .owl-prev {
        left: 0;
      }
      .owl-next {
        right: 0;
      }
    }
  }
  &:not(:hover) {
    svg {
      .circle-path {
        fill: #bdc0c9;
      }
    }
  }
}

.single-card--image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  img {
    @include media-breakpoint-up(sm) {
      max-width: 270px;
    }
  }
}

.single-card--badges {
  li {
    margin-bottom: 6px;
  }
  .badge {
    font-size: 13px;
    font-weight: 300;
    line-height: 1.4;
    margin: 0 3px;
    border: 1px solid #BDC0C9;
    height: 100%;
    background-color: #fff;
    color: #000;
    padding-top: 8px;
    padding-bottom: 8px;
    min-width: 120px;
    h4 {
      font-weight: 700;
    }
  }
}

.single-card--likebtn {
  position: absolute;
  z-index: 40;
  top: 18px;
  right: 17px;
  transform: scale(0);
  visibility: hidden;
  transition: 0.27s transform, 0.27s visibility;
  .heart-svg {
    transition: 0.27s fill;
    &:hover {
      fill: red;
      fill-opacity: 1;
    }
  }
  .single-profile--card:hover & {
    transform: scale(1);
    visibility: visible;
  }
  .in-likes & {
    transform: scale(1);
    visibility: visible;
    .heart-svg {
      fill: red;
      fill-opacity: 1;
    }
  }
}

.single-card--networks {
  padding: 15px 0;
  font-size: 1rem;
  > ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 15px;
  }
  li {
    line-height: 1;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    svg {
      width: 27px;
      height: 27px;
      .circle-path {
        transition: 0.27s fill ease-in-out;
      }
    }
    span {
      padding-left: 5px;
    }
    & + li {
      margin-left: 15px;
    }
    //&.is-showing {
    //  flex: 0 0 60px;
    //  max-width: 60px;
    //}
  }
}

.single-card--followers {
  a {
    color: inherit;
    padding: 0;
  }
  .media-body {
    line-height: 1;
    span {
      font-weight: bold;
      .suffix {
        font-size: 16px;
      }
    }
    .label {
      font-size: 12px;
    }
  }
  img {
    max-width: 30px;
  }
  @include media-breakpoint-up(lg) {
    a {
      span {
        font-size: 22px;
      }
    }
  }
}

.search-filter--ul {
  position: relative;
  flex-wrap: wrap;
  li {
    margin-right: 8px;
    margin-bottom: 8px;
  }
  [data-toggle="dropdown"] {
    border-color: #BDC0C9;
    color: #4D4D4D;
    font-weight: 300;
    max-width: 100%;
    width: auto;
    line-height: 1;
    position: relative;
    z-index: 200;
    padding: 5px 8px;
    transition: 0.5s padding ease;
    .value__el{
      text-transform: capitalize;
    }
    i {
      animation-name: closeRollIn;
      animation-fill-mode: forwards;
      animation-timing-function: ease;
      animation-duration: 0.5s;
      display: none;
      font-size: 20px;
      position: absolute;
      opacity: 0;
      right: 10px;
      top: 50%;
      transform: translate(0, -50%) rotate(0deg) scale(1);
      &:before {
        //font-weight: 700;
      }
    }
    &.active {
      padding-right: 35px;
      i {
        display: block;
      }
    }
    &:before {
      content: attr(title)
    }
    &.active:before {
      display: none;
    }
    &[aria-expanded="true"] {
      color: #fff;
      background-color: #3793cf;
      border-color: #318dc8;
    }
    @include hover-focus-active() {
      @include button-variant($blue, $blue, $blue)
    }
  }
  input[type='number'] {
    -moz-appearance: textfield;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  .input-tag--remove {
    width: 24px;
    height: 24px;
    line-height: 1;
    color: $border-color;
    padding: 0;
    border-radius: 8px;
    background-color: transparent;
    font-size: 14px;
    border-color: inherit;
    display: block;
    border: none;
    box-shadow: 0 0 0 1px $border-color;
    i {
      transform: rotate(45deg);
      display: block;

    }
  }
  .dropdown-menu {
    @include media-breakpoint-down(sm) {
      max-width: 100%;
    }
    .btn-plus {
      width: 30px;
      line-height: 1;
      height: 30px;
      font-size: 21px;
      border-radius: 25%;
      @include button-outline-variant($border-color, $border-color, #ffffff, $border-color);
      border: none;
      box-shadow: 0 0 0 1px $border-color;
      @include hover-focus-active() {
        background-color: #fff;
        @include button-outline-variant(darken($border-color, 10%), darken($border-color, 10%), #ffffff, darken($border-color, 10%));
      }
    }
  }
  .dropdown-menu--actions {
    .btn {
      width: 100px;
    }
  }
}

.single-card--title {
  padding: 0 0 10px;
  h5 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0;
  }

  a {
    color: #4d4d4d;
    @include hover-focus-active {
      color: rgba(#4d4d4d, 0.7);
    }
  }
}

.single-influencer--post {
  position: relative;
  padding-bottom: 100%;

}

.single-influencer--post--image {
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: 100%;
  left: 0;
  top: 0;
  z-index: 10;
  right: 0;
  bottom: 0;
  background-position: center;
  background-repeat: no-repeat;
}

.single-influencer--post--info {
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: 100%;
  left: 0;
  top: 0;
  z-index: 10;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.85);
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s opacity, 0.2s visibility;
  .single-influencer--post:hover & {
    opacity: 1;
    visibility: visible;
  }
  ul {
    font-size: 24px;
    font-weight: 300;
    line-height: 32px;
    margin-bottom: 20px;
  }
}

.single-slide--more {
  h4 {
    font-weight: 500;
    @include media-breakpoint-between(sm, md) {
      font-size: 1.4rem;
    }
  }
  p {
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 26px;
    max-height: 78px;
    @include media-breakpoint-between(sm, md) {
      line-height: 20px;
      max-height: 80px;
    }
  }
}

.single-card--sections {

}

.single-content--section {
  padding: 15px 0;
  border-top: 1px solid #eeeeee;
}

.single-content--subtitle {
  font-weight: 500;
  margin-bottom: 15px;
}

.single-card--nav {
  img {
    @include media-breakpoint-down(sm) {
      width: 28px;
      height: 28px;
    }
  }

}

.single-card--info {
  @include media-breakpoint-up(lg) {
    padding-top: 60px;
  }
}

.single-card--actions {
  .btn {
    min-width: 120px;
    @include media-breakpoint-up(lg) {
      min-width: auto;
    }
  }
  @include media-breakpoint-up(lg) {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.filter-info {
  line-height: 1;
  display: block;
  background-color: transparent;
  img {
    width: 20px;
  }
}

.single-card--owlwrapper {
  position: relative;
  overflow: hidden;
  padding-bottom: 100%;
  background-color: #eeeeee;
}

.single-card--carousel {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  .owl-stage-outer {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }
  .owl-stage {
    height: 100%;
  }
  .owl-item {
    height: 100%;
    width: 100%;
  }
}

.single-card--slide {
  position: relative;
  height: 100%;
  > a {
    line-height: 0;
    display: block;
  }
  .single-slide--image {
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: 100%;
    left: 0;
    top: 0;
    z-index: 10;
    right: 0;
    bottom: 0;
    background-position: center;
    background-repeat: no-repeat;
  }
}

@keyframes closeRollIn {
  0% {
    opacity: 0;
    transform: translate(0, -50%) rotate(-360deg) scale(.95);
  }
  70% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
    transform: translate(0, -50%) rotate(0) scale(1);
  }
}
