.btn-search {
  width: auto;
  font-size: 16px;
  padding: 6px 18px;
}

.btn-clear {
  color: #58A3D5 !important;
}

.liked-heart {
  position: absolute;
  margin-left: -30px;
  top: 50%;
  transform: translate(0, -50%);
}

.gs-infl-search {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  margin-left: 13px;
}

.find-influencer--navtabs {
  .nav-item {
    margin: 0 25px;
  }
}

.single-influencer--archive {
  visibility: hidden;
  position: absolute;
  z-index: 40;
  top: 17px;
  left: 17px;
  background-color: transparent;
  color: white;
  outline: 0;
  border: none;
  font-size: 30px;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: 0.27s visibility, 0.27s -webkit-transform;
  transition: 0.27s visibility, 0.27s -webkit-transform;
  -o-transition: 0.27s transform, 0.27s visibility;
  transition: 0.27s transform, 0.27s visibility;
  transition: 0.27s transform, 0.27s visibility, 0.27s -webkit-transform;
}

.single-profile--card:hover {
  single-influencer--archive {
    visibility: visible;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

.gs-score {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-right: 5px;
}

.gs-score--1 {
  background-color: #8D2121;
}

.gs-score--2 {
  background-color: #D4877E;
}

.gs-score--3 {
  background-color: #FFDB94;
}

.gs-score--4 {
  background-color: #B1E9A3;
}

.gs-score--5 {
  background-color: #368D21;
}

.select2 .select2-selection--multiple .select2-selection__choice {
  background-color: transparent;
  border: none;
  position: relative;
  display: flex;
  align-items: center;
  margin: 10px 5px;
}

.select2 .select2-selection--multiple .select2-selection__choice__remove {
  font-size: 0;
  margin-right: 5px;
  width: 24px;
  height: 24px;
  line-height: 1;
  color: #BDC0C9;
  padding: 0;
  border-radius: 8px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  box-shadow: 0 0 0 1px #BDC0C9;
  .select2-selection__rendered {
    padding: 0;
    > li {
      margin: 5px 0 2.5px;
    }
  }
  &:before {
    content: "\e924";
    font-family: 'icomoon';
    transform: rotate(45deg);
    font-size: 14px;
  }
  &:hover {
    color: darken(#BDC0C9,10%);
  }
}

.select2.select2-container--focus .select2-selection--multiple {
  box-shadow: 0 0 0 1px #56A4D6;
  border: transparent !important;
}

.select2-container .select2-results__option[aria-selected=true] {
  background-color: transparent;
  opacity: 0.5;
}

.select2-container.select2-results > .select2-results__options {
  overflow-y: scroll;
}

.select2-container .select2-search--inline {
  margin: 0;
  height: 100%;
}

.zoomingOut {
 animation-name: zoomOut;
  animation-fill-mode: forwards;
  animation-duration: 0.7s;
}

@keyframes zoomOut {
  0% {
    opacity: 1
  }
  50% {
    opacity: 0;
    transform: scale3d(.3, .3, .3)
  }
  to {
    opacity: 0
  }
}
