.btn-search {
  width: auto;
  font-size: 16px;
  padding: 6px 18px;
}

.btn-clear {
  color: #58A3D5 !important;
}

.liked-heart {
  position: absolute;
  margin-left: -30px;
  top: 50%;
  transform: translate(0, -50%);
}

.gs-infl-search {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  margin-left: 13px;
}

//.find-influencer--navtabs {
//  .nav-item {
//    margin: 0;
//    margin-left: 18px;
//  }
//}

.single-influencer--archive {
  visibility: hidden;
  position: absolute;
  z-index: 40;
  top: 17px;
  left: 17px;
  background-color: transparent;
  color: white;
  outline: 0;
  border: none;
  font-size: 30px;
  transform: scale(0);
  transition: 0.27s all;
}

.single-profile--card:hover {
  .single-influencer--archive {
    visibility: visible;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

.gs-score {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-right: 5px;
}

.gs-score--1 {
  background-color: #8D2121;
}

.gs-score--2 {
  background-color: #D4877E;
}

.gs-score--3 {
  background-color: #FFDB94;
}

.gs-score--4 {
  background-color: #B1E9A3;
}

.gs-score--5 {
  background-color: #368D21;
}

.select2 .select2-selection--multiple .select2-selection__choice {
  background-color: transparent;
  border: none;
  position: relative;
  display: flex;
  align-items: center;
  margin: 10px 5px;
}

.select2.select2-container--focus .select2-selection--multiple {
  box-shadow: 0 0 0 1px #56A4D6;
  border: none !important;
}

.select2-container.select2-results > .select2-results__options {
  overflow-y: scroll;
}

.select2-container .select2-search--inline {
  margin: 0;
  height: 100%;
}

.zoomingOut {
  animation-name: zoomOut;
  animation-fill-mode: forwards;
  animation-duration: 0.7s;
}

@keyframes zoomOut {
  0% {
    opacity: 1
  }
  50% {
    opacity: 0;
    transform: scale3d(.3, .3, .3)
  }
  to {
    opacity: 0;
  }
}

.single-content--subtitle {
  font-weight: 300;
}

.single-card--image {
  img {
    border-radius: 10px;
    @include media-breakpoint-up(sm) {
      max-width: 170px;
    }
  }
}

.single-card--image {
  .single-influencer--archive {
    visibility: visible;
    left: 14px;
    bottom: 12px;
    top: auto;
    transform: none;
    @include media-breakpoint-up(sm) {
      top: 14px;
      bottom: auto;
    }
  }
  .single-card--likebtn {
    visibility: visible;
    transform: none;
    bottom: 10px;
    top: auto;
    right: 10px;
    @include media-breakpoint-up(sm) {
      bottom: auto;
      top: 10px;
    }
  }
}

.single-influencer--video--info {
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: 100%;
  left: 0;
  top: 0;
  z-index: 10;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.85);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.2s opacity, 0.2s visibility;
  -o-transition: 0.2s opacity, 0.2s visibility;
  transition: 0.2s opacity, 0.2s visibility;
  ul {
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
  }
}

.single-influencer--video {
  position: relative;
  z-index: 9;
  &:hover {
    .single-influencer--video--info {
      opacity: 1;
      visibility: visible;
    }
  }
  iframe {
    display: block;
  }
}

.single-card--badges {
  .badge {
    overflow: hidden;
    position: relative;
    line-height: 1;
    &:before {
      position: absolute;
      content: "";
      bottom: 0;
      width: 100%;
      height: 6px;
      left: 0;
      background-color: transparent;
      right: 0;
    }
    &.gs-badge--score-1:before {
      background-color: #8D2121;
    }
    &.gs-badge--score-2:before {
      background-color: #D07271;
    }
    &.gs-badge--score-3:before {
      background-color: #FFDB94;
    }
    &.gs-badge--score-4:before {
      background-color: #B1E9A3;
    }
    &.gs-badge--score-5:before {
      background-color: #368D21;
    }
    &.gs-badge--score-6:before {
      background-color: #D07271;
    }

  }
}

.single-card--name {
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
}

.search-filter--ul {
  .modal {
    .btn {
      width: 100px;
    }
  }
}

.search-form {
  .input-group-text {
    border: none;
    background-color: transparent;
  }
  input {
    border-left: none;
    border-right: none;
    border-radius: 0;
  }
  .input-group-prepend {
    z-index: 10;
    margin-right: -4px;
  }
  .form-control:focus {
    border-color: #d6d6d6;
    color: #444;

  }
}

#searchForm {
  .input-group-append {
    margin-left: -3px;
  }
}

.influencer-campaign {
  padding: 20px;
  a {
    position: relative;
    padding: 5px 10px;
    display: flex;
    align-items: center;
  }
  //.btn-svg-close{
  //  font-size: 20px;
  //  position: absolute;
  //  right: 10px;
  //  top: 50%;
  //  -webkit-transform: translate(0, -50%) rotate(0deg) scale(1);
  //  -ms-transform: translate(0, -50%) rotate(0deg) scale(1);
  //  transform: translate(0, -50%) rotate(0deg) scale(1)
  //}

}

.gs-see--tutorial {
  .content-box {
    box-shadow: none;
  }
  button {
    border-color: #BDC0C9;
    color: #4D4D4D;
    right: 15px;
    padding-right: 40px;
    z-index: 10;

    span {
      position: absolute;
      width: 40px;
      height: 100%;
      top: 0;
      right: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      b {
        @include my_caret();
      }
    }
  }
  button[aria-expanded='true'] {
    border-color: transparent;
    background-color: transparent;
    b {
      transform: rotate(-90deg) translate(0px, 0px);
    }
  }
  .collapsing, .collapse.show {
    border: 1px solid #BDC0C9;
    background-color: white;

  }
}
