.btn-search {
  width: auto;
  font-size: 16px;
  padding: 6px 18px;
}

.btn-clear {
  color: #58A3D5 !important;
}

.liked-heart {
  position: absolute;
  margin-left: -30px;
  top: 50%;
  transform: translate(0, -50%);
}

.gs-infl-search {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  margin-left: 13px;
}

.find-influencer--navtabs {
  .nav-item {
    margin: 0 25px;
  }
}

.infl-archive {
  visibility: hidden;
  position: absolute;
  z-index: 40;
  top: 17px;
  left: 17px;
  background-color: transparent;
  color: white;
  outline: 0;
  border: none;
  font-size: 30px;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: 0.27s visibility, 0.27s -webkit-transform;
  transition: 0.27s visibility, 0.27s -webkit-transform;
  -o-transition: 0.27s transform, 0.27s visibility;
  transition: 0.27s transform, 0.27s visibility;
  transition: 0.27s transform, 0.27s visibility, 0.27s -webkit-transform;
}

.single-profile--card:hover {
  .infl-archive {
    visibility: visible;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

.gs-score {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-right: 5px;
}

.gs-score--1 {
  background-color: #8D2121;
}

.gs-score--2 {
  background-color: #D4877E;
}

.gs-score--3 {
  background-color: #FFDB94;
}

.gs-score--4 {
  background-color: #B1E9A3;
}

.gs-score--5 {
  background-color: #368D21;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: transparent;
  border: none;
  position: relative;
  padding-right: 35px;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove{
  font-size: 0;
  position: absolute;
  width: 24px;
  height: 24px;
  line-height: 1;
  color: #BDC0C9;
  padding: 0;
  border-radius: 8px;
  background-color: transparent;
  border-color: inherit;
  display: block;
  right: 0;
  border: none;
  -webkit-box-shadow: 0 0 0 1px #BDC0C9;
  box-shadow: 0 0 0 1px #BDC0C9;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:before{
  font-family: 'icomoon' !important;
  position: absolute;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\E924";
  font-size: 14px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  display: block;
}
.select2-container--default.select2-container--focus .select2-selection--multiple{
  border: 1px solid #56A4D6;
}
.select2-container .select2-results__option[aria-selected=true]{
  background-color: transparent;
}




