//main
$blue: #56A4D6;
$asphalt: #747B8D;
$orange: #F28933;
$border-color: #BDC0C9;
$bg-color: #56A4D6;
$white: #ffffff;
$green: #62BC7F;
$yellow: #F28933;

//social
$social-colors: (
        fb: #3B5998,
        in: #0077B5
);