.budget-selection {
  .form-group {
    max-width: 290px;
  }
  .dot-outer {
    position: absolute !important;
    right: 10px;
    top: 10px;
  }

}

.campaign-create-title {
  .width_border {
    border: 1px solid #BDC0C9;
    border-radius: 5px;
  }
}
.infl-slide{
  position: relative;
  padding-bottom: 65.28%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}