@import "variables";

@font-face {
  font-family: 'icomoon';
  src:  url('#{$icomoon-font-path}/icomoon.eot?4idrwg');
  src:  url('#{$icomoon-font-path}/icomoon.eot?4idrwg#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/icomoon.ttf?4idrwg') format('truetype'),
    url('#{$icomoon-font-path}/icomoon.woff?4idrwg') format('woff'),
    url('#{$icomoon-font-path}/icomoon.svg?4idrwg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="bwicon-"], [class*=" bwicon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@function unicode($str) {
  @return unquote("\"") + $str + unquote("\"");
}

.bwicon-fb {
  &:before {
    content: unicode($bwicon-fb); 
  }
}
.bwicon-in {
  &:before {
    content: unicode($bwicon-in); 
  }
}
.bwicon-logout1 {
  &:before {
    content: unicode($bwicon-logout1); 
  }
}
.bwicon-arrow-left {
  &:before {
    content: unicode($bwicon-arrow-left); 
  }
}
.bwicon-arrow-right {
  &:before {
    content: unicode($bwicon-arrow-right); 
  }
}
.bwicon-back {
  &:before {
    content: unicode($bwicon-back); 
  }
}
.bwicon-delete {
  &:before {
    content: unicode($bwicon-delete); 
  }
}
.bwicon-download {
  &:before {
    content: unicode($bwicon-download); 
  }
}
.bwicon-help {
  &:before {
    content: unicode($bwicon-help); 
  }
}
.bwicon-like {
  &:before {
    content: unicode($bwicon-like); 
  }
}
.bwicon-load {
  &:before {
    content: unicode($bwicon-load); 
  }
}
.bwicon-marker {
  &:before {
    content: unicode($bwicon-marker); 
  }
}
.bwicon-pause {
  &:before {
    content: unicode($bwicon-pause); 
  }
}
.bwicon-phone {
  &:before {
    content: unicode($bwicon-phone); 
  }
}
.bwicon-photo {
  &:before {
    content: unicode($bwicon-photo); 
  }
}
.bwicon-play {
  &:before {
    content: unicode($bwicon-play); 
  }
}
.bwicon-save {
  &:before {
    content: unicode($bwicon-save); 
  }
}
.bwicon-search {
  &:before {
    content: unicode($bwicon-search); 
  }
}
.bwicon-send {
  &:before {
    content: unicode($bwicon-send); 
  }
}
.bwicon-settings {
  &:before {
    content: unicode($bwicon-settings); 
  }
}
.bwicon-socialbox {
  &:before {
    content: unicode($bwicon-socialbox); 
  }
}
.bwicon-star {
  &:before {
    content: unicode($bwicon-star); 
  }
}
.bwicon-time {
  &:before {
    content: unicode($bwicon-time); 
  }
}
.bwicon-upload {
  &:before {
    content: unicode($bwicon-upload); 
  }
}
.bwicon-wrote {
  &:before {
    content: unicode($bwicon-wrote); 
  }
}
.bwicon-notification-i {
  &:before {
    content: unicode($bwicon-notification-i); 
  }
}
.bwicon-money {
  &:before {
    content: unicode($bwicon-money); 
  }
}
.bwicon-i {
  &:before {
    content: unicode($bwicon-i); 
  }
}
.bwicon-close {
  &:before {
    content: unicode($bwicon-close); 
  }
}
.bwicon-arrow-up {
  &:before {
    content: unicode($bwicon-arrow-up); 
  }
}
.bwicon-arrow-down {
  &:before {
    content: unicode($bwicon-arrow-down); 
  }
}
.bwicon-arrow-up-bold {
  &:before {
    content: unicode($bwicon-arrow-up-bold); 
  }
}
.bwicon-arrow-down-bold {
  &:before {
    content: unicode($bwicon-arrow-down-bold); 
  }
}
.bwicon-arrow-left-bold {
  &:before {
    content: unicode($bwicon-arrow-left-bold); 
  }
}
.bwicon-arrow-right-bold {
  &:before {
    content: unicode($bwicon-arrow-right-bold); 
  }
}
.bwicon-Page {
  &:before {
    content: unicode($bwicon-Page); 
  }
}
.bwicon-calendar {
  &:before {
    content: unicode($bwicon-calendar); 
  }
}
.bwicon-mail {
  &:before {
    content: unicode($bwicon-mail); 
  }
}

