$icomoon-font-path: "./fonts" !default;

$icon-fb: \e927;
$icon-in: \e928;
$icon-logout1: \e900;
$icon-arrow-left: \e901;
$icon-arrow-right: \e902;
$icon-back: \e903;
$icon-delete: \e904;
$icon-download: \e905;
$icon-help: \e906;
$icon-like: \e907;
$icon-load: \e908;
$icon-marker: \e909;
$icon-pause: \e90b;
$icon-phone: \e90c;
$icon-photo: \e90d;
$icon-play: \e90e;
$icon-save: \e90f;
$icon-search: \e910;
$icon-send: \e911;
$icon-settings: \e912;
$icon-socialbox: \e913;
$icon-star: \e914;
$icon-time: \e915;
$icon-upload: \e916;
$icon-wrote: \e917;
$icon-notification-i: \e90a;
$icon-money: \e918;
$icon-i: \e919;
$icon-close: \e91a;
$icon-arrow-up: \e91b;
$icon-arrow-down: \e91c;
$icon-arrow-up-bold: \e91d;
$icon-arrow-down-bold: \e91e;
$icon-arrow-left-bold: \e91f;
$icon-arrow-right-bold: \e920;
$icon-Page: \e921;
$icon-calendar: \e922;
$icon-mail: \e923;
$icon-plus: \e924;

