<div class="modal fade in modal-filters" tabindex="-1" role="dialog" aria-labelledby="modalFilters">
  <button class="icon-close btn btn-close" data-dismiss="modal" type="button"></button>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body py-0">
        <div class="row px-3 pt-3">
          <div class="col-12">
            <span class="text-dark">Sex</span>
          </div>
        </div>
        <div class="row px-3 py-4 flex-sm-column">
          <div class="col-auto">
            <div class="form-group mb-0">
              <input type="checkbox" name="men_mob" id="men_mob"> <label for="men_mob">
                <span class="box"></span> Men</label>
            </div>
          </div>
          <div class="col-auto">
            <div class="form-group">
              <input type="checkbox" name="women_mob" id="women_mob"> <label for="women_mob">
                <span class="box"></span> Women</label>
            </div>
          </div>
          <div class="col-auto">
            <div class="form-group">
              <input type="checkbox" name="other_mob" id="other_mob"> <label for="other_mob">
                <span class="box"></span> Other</label>
            </div>
          </div>
        </div>
        <div class="row px-3 py-4">
          <div class="col-sm-5 col-md pb-5 py-md-0">
            <p>
              <label class="label-basic text-dark" for="age_mob">Age</label><br>
              <input class="ui-age-value" type="text" id="age_mob" readonly="" style="border:0; color:#898989; font-weight:normal;">
            </p>
            <div id="slider-age_mob" class="ui-age-slider"></div>
          </div>
        </div>
        <div class="row px-3 py-4">
          <div class="col-12">
            <p>
              <label class="label-basic text-dark mb-4" for="price_mob">Price per post range</label>
              <input type="text" id="price_mob" readonly="" style="border:0; color:#898989; font-weight:normal;">
            </p>
            <div class="ui-slider-price" id="slider-price-mob"></div>
          </div>
        </div>
        <div class="row px-3 py-4">
          <div class="col-4 col-sm-4">
            <div class="form-group">
              <input type="checkbox" class="checked-all" name="categories_all" id="categories_all_1">
              <label for="categories_all_1"> <span class="box"></span> All categories</label>
            </div>
          </div>
          <div class="col-4 col-sm-4">
            <div class="form-group">
              <input type="checkbox" name="networks_fashion" id="networks_fashion_1"> <label for="networks_fashion_1">
                <span class="box"></span> Fashion</label>
            </div>
          </div>
          <div class="col-4 col-sm-4">
            <div class="form-group">
              <input type="checkbox" name="networks_fashion1" id="networks_fashion_2"> <label for="networks_fashion_2">
                <span class="box"></span> Fashion</label>
            </div>
          </div>
          <div class="col-4 col-sm-4">
            <div class="form-group">
              <input type="checkbox" name="networks_fashion2" id="networks_fashion_3"> <label for="networks_fashion_3">
                <span class="box"></span> Fashion</label>
            </div>
          </div>
          <div class="col-4 col-sm-4">
            <div class="form-group">
              <input type="checkbox" name="categories_electronic" id="categories_electronic_2">
              <label for="categories_electronic_2"> <span class="box"></span> Electronic</label>
            </div>
          </div>
          <div class="col-4 col-sm-4">
            <div class="form-group">
              <input type="checkbox" name="categories_electronic1" id="categories_electronic_3">
              <label for="categories_electronic_3"> <span class="box"></span> Electronic</label>
            </div>
          </div>
          <div class="col-4 col-sm-4">
            <div class="form-group">
              <input type="checkbox" name="categories_electronic2" id="categories_electronic_4">
              <label for="categories_electronic_4"> <span class="box"></span> Electronic</label>
            </div>
          </div>
          <div class="col-4 col-sm-4">
            <div class="form-group">
              <input type="checkbox" name="categories_electronic3" id="categories_electronic_5">
              <label for="categories_electronic_5"> <span class="box"></span> Electronic</label>
            </div>
          </div>
          <div class="col-4 col-sm-4">
            <div class="form-group">
              <input type="checkbox" name="categories_yoga" id="categories_yoga_1"> <label for="categories_yoga_1">
                <span class="box"></span> Yoga</label>
            </div>
          </div>
          <div class="col-4 col-sm-4">
            <div class="form-group">
              <input type="checkbox" name="categories_yoga1" id="categories_yoga_2"> <label for="categories_yoga_2">
                <span class="box"></span> Yoga</label>
            </div>
          </div>
          <div class="col-4 col-sm-4">
            <div class="form-group">
              <input type="checkbox" name="categories_electronic" id="categories_electronic_6">
              <label for="categories_electronic_6"> <span class="box"></span> Electronic</label>
            </div>
          </div>
          <div class="col-4 col-sm-4">
            <div class="form-group">
              <input type="checkbox" name="categories_electronic1" id="categories_electronic_7">
              <label for="categories_electronic_7"> <span class="box"></span> Electronic</label>
            </div>
          </div>
          <div class="col-4 col-sm-4">
            <div class="form-group">
              <input type="checkbox" name="categories_electronic2" id="categories_electronic_8">
              <label for="categories_electronic_8"> <span class="box"></span> Electronic</label>
            </div>
          </div>
          <div class="col-4 col-sm-4">
            <div class="form-group">
              <input type="checkbox" name="categories_electronic3" id="categories_electronic_9">
              <label for="categories_electronic_9"> <span class="box"></span> Electronic</label>
            </div>
          </div>
          <div class="col-4 col-sm-4">
            <div class="form-group">
              <input type="checkbox" name="categories_yoga" id="categories_yoga_3"> <label for="categories_yoga_3">
                <span class="box"></span> Yoga</label>
            </div>
          </div>
          <div class="col-4 col-sm-4">
            <div class="form-group">
              <input type="checkbox" name="categories_yoga1" id="categories_yoga_4"> <label for="categories_yoga_4">
                <span class="box"></span> Yoga</label>
            </div>
          </div>
        </div>
        <div class="row px-3 py-4">
          <div class="col-6 col-sm-4">
            <div class="form-group">
              <input type="checkbox" class="checked-all" name="networks_all" id="networks_all_1">
              <label for="networks_all_1"> <span class="box"></span> All networks</label>
            </div>
          </div>
          <div class="col-6 col-sm-4">
            <div class="form-group">
              <input type="checkbox" name="networks_tw" id="networks_tw_1"> <label for="networks_tw_1">
                <span class="box"></span> <span class="network-icon with-title tw"></span> Twitter</label>
            </div>
          </div>
          <div class="col-6 col-sm-4">
            <div class="form-group">
              <input type="checkbox" name="networks_instagram" id="networks_instagram_1">
              <label for="networks_instagram_1"> <span class="box"></span>
                <span class="network-icon with-title instagram"></span> Instagram</label>
            </div>
          </div>
          <div class="col-6 col-sm-4">
            <div class="form-group">
              <input type="checkbox" name="networks_youtube" id="networks_youtube_1"> <label for="networks_youtube_1">
                <span class="box"></span> <span class="network-icon with-title youtube"></span> Youtube</label>
            </div>
          </div>
          <div class="col-6 col-sm-4">
            <div class="form-group">
              <input type="checkbox" name="networks_pinterest" id="networks_pinterest_1">
              <label for="networks_pinterest_1"> <span class="box"></span>
                <span class="network-icon with-title pinterest"></span> Pinterest</label>
            </div>
          </div>
          <div class="col-6 col-sm-4">
            <div class="form-group">
              <input type="checkbox" name="networks_blog" id="networks_blog_1"> <label for="networks_blog_1">
                <span class="box"></span> <span class="network-icon with-title blog"></span> Blog</label>
            </div>
          </div>
          <div class="col-6 col-sm-4">
            <div class="form-group">
              <input type="checkbox" name="networks_tumblr" id="networks_tumblr_1"> <label for="networks_tumblr_1">
                <span class="box"></span> <span class="network-icon with-title tumblr"></span> Tumblr </label>
            </div>
          </div>
          <div class="col-6 col-sm-4">
            <div class="form-group">
              <input type="checkbox" name="networks_podcast" id="networks_podcast_1"> <label for="networks_podcast_1">
                <span class="box"></span> <span class="network-icon with-title podcast"></span> Podcast </label>
            </div>
          </div>
          <div class="col-6 col-sm-4">
            <div class="form-group">
              <input type="checkbox" name="networks_snapchat" id="networks_snapchat_1">
              <label for="networks_snapchat_1"> <span class="box"></span>
                <span class="network-icon with-title snapchat"></span> Snapchat</label>
            </div>
          </div>
          <div class="col-6 col-sm-4">
            <div class="form-group">
              <input type="checkbox" name="networks_fb" id="networks_fb_1"> <label for="networks_fb_1">
                <span class="box"></span> <span class="network-icon with-title fb"></span> Facebook</label>
            </div>
          </div>
        </div>
        <div class="row px-3 py-4">
          <div class="col-6 col-sm-4">
            <div class="form-group">
              <input type="checkbox" class="checked-all" name="agencies_all" id="agencies_all_1">
              <label for="agencies_all_1"> <span class="box"></span> All agencies</label>
            </div>
          </div>
          <div class="col-6 col-sm-4">
            <div class="form-group">
              <input type="checkbox" name="networks_gs" id="networks_gs_1"> <label for="networks_gs_1">
                <span class="box"></span> <span class="network-icon with-title gs"></span> GrowSocial</label>
            </div>
          </div>
          <div class="col-6 col-sm-4">
            <div class="form-group">
              <input type="checkbox" name="agency_11" id="agency_11"> <label for="agency_11"> <span class="box"></span>
                <span class="network-icon with-title"></span> Agency</label>
            </div>
          </div>
          <div class="col-6 col-sm-4">
            <div class="form-group">
              <input type="checkbox" name="agency_2" id="agency_22"> <label for="agency_22"> <span class="box"></span>
                <span class="network-icon with-title"></span> Agency</label>
            </div>
          </div>
          <div class="col-6 col-sm-4">
            <div class="form-group">
              <input type="checkbox" name="agency_3" id="agency_33"> <label for="agency_33"> <span class="box"></span>
                <span class="network-icon with-title"></span> Agency</label>
            </div>
          </div>
          <div class="col-6 col-sm-4">
            <div class="form-group">
              <input type="checkbox" name="agency_4" id="agency_44"> <label for="agency_44"> <span class="box"></span>
                <span class="network-icon with-title"></span> Agency</label>
            </div>
          </div>
          <div class="col-6 col-sm-4">
            <div class="form-group">
              <input type="checkbox" name="agency_5" id="agency_55"> <label for="agency_55"> <span class="box"></span>
                <span class="network-icon with-title"></span> Agency</label>
            </div>
          </div>
          <div class="col-6 col-sm-4">
            <div class="form-group">
              <input type="checkbox" name="agency_6" id="agency_66"> <label for="agency_66"> <span class="box"></span>
                <span class="network-icon with-title"></span> Agency</label>
            </div>
          </div>
          <div class="col-6 col-sm-4">
            <div class="form-group">
              <input type="checkbox" name="agency_7" id="agency_77"> <label for="agency_77"> <span class="box"></span>
                <span class="network-icon with-title"></span> Agency</label>
            </div>
          </div>
          <div class="col-6 col-sm-4">
            <div class="form-group">
              <input type="checkbox" name="agency_8" id="agency_88"> <label for="agency_88"> <span class="box"></span>
                <span class="network-icon with-title"></span> Agency</label>
            </div>
          </div>
        </div>
        <div class="row px-3 py-4 justify-content-between">
          <div class="col col-sm-4 col-md-2">
            <button class="btn btn-block btn-sm btn-cancel" data-dismiss="modal">Cancel</button>
          </div>
          <div class="col col-sm-4 col-md-2">
            <button class="btn btn-block btn-primary btn-sm btn-apply">
              Apply
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
