<div class="modal fade modal-single--influencer" tabindex="-1" role="dialog" aria-labelledby="modalSingleInfluecner">
  <div class="single-card--fixednav">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-auto d-none d-sm-block pr-0">
          <img class="rounded-circle r-37 mr-md-2" src="../assets/images/profile.png" alt=" ">
          <h4 class="mb-0 d-none d-md-inline-block align-middle">Lisa Lopez, 31</h4>
        </div>
        <div class="col-auto">
          <div id="singleInfluencerNav" class="navbar navbar-static p-0">
            <ul class="nav single-card--nav align-items-center">
              <li class="nav-item">
                <a class="nav-link" href="#fb"> <img class="img-fluid"
                    src="../assets/images/networks/fb.svg"
                    alt=" "></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#tumblr"> <img class="img-fluid"
                    src="../assets/images/networks/tumblr.svg"
                    alt=" "></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#instagram"> <img class="img-fluid"
                    src="../assets/images/networks/instagram.svg"
                    alt=" "></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#pinterest"> <img class="img-fluid"
                    src="../assets/images/networks/pinterest.svg"
                    alt=" "></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-auto ml-auto">
          <button class="btn btn-outline-primary btn-save"><i class="icon-like mr-0 mr-md-2 align-middle"></i> <span
              class="d-none d-md-inline">Save</span>
          </button>
          <button class="btn btn-primary btn-contact"><i class="icon-mail mr-0 mr-md-2 align-middle"></i>
            <span class="d-none d-md-inline">Contact</span>
          </button>
          <button class="icon-close btn btn-close" data-dismiss=".modal-single--influencer" type="button"></button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-actions">
    <button class="icon-close btn btn-close" data-dismiss="modal" type="button"></button>
  </div>
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="single-card--top">
          <div class="row">
            <div class="col-12 col-lg-8">
              <div class="row">
                <div class="col-12 col-sm-auto p-sm mb-3 mb-lg-0 text-center">
                  <div class="single-card--image">
                    <img class="img-fluid w-100 h-100" src="../assets/images/profile.png" alt=" ">
                  </div>
                </div>
                <div class="col-12 col-sm col-lg">
                  <h2 class="single-card--name text-asphalt">Lisa Lopez, 31</h2>
                  <p class="text-dark">Lifestyle, Parenting, Food</p>
                  <p class="text-asphalt">Vestibulum vel rhoncus tellus. Aliquam porttitor, mauris eu blandit congue,
                    ante metus elementum magna, eu malesuada arcu diam gravida lectus. Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit. Nunc quis libero neque. Morbi accumsan urna et elit mollis lobortis. In
                    nec libero sodales, consectetur diam non, rutrum massa.</p>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm col-lg-4 single-card--right">
              <div class="row">
                <div class="col-12 col-lg-12 ml-sm-auto order-lg-1 ml-lg-0 mt-3 my-sm-0">
                  <div class="row">
                    <div class="col-12">
                      <h4 class="single-content--subtitle">Information</h4>
                    </div>
                    <div class="col-12 order-lg-1 mb-md-3">
                      <div class="row justify-content-between align-items-center">
                        <div class="col-auto">
                          <span class="align-middle">Rating</span>
                          <span class="text-primary d-inline"><i class="icon-star align-middle ml-1"></i></span>
                        </div>
                        <div class="col-auto">
                          <span class="text-primary align-middle">4,7</span> <img src="../assets/images/info.svg"
                                                                                  class="align-middle ml-1">
                        </div>
                      </div>
                      <div class="row justify-content-between align-items-center">
                        <div class="col-auto">
                          <span>Response rate</span>
                        </div>
                        <div class="col-auto">
                          <span class="text-primary align-middle">75%</span> <img src="../assets/images/info.svg"
                                                                                  class="align-middle ml-1">
                        </div>
                      </div>
                      <div class="row justify-content-between align-items-center">
                        <div class="col-auto">
                          <span>Approval rate</span>
                        </div>
                        <div class="col-auto">
                          <span class="text-primary align-middle">20%</span> <img src="../assets/images/info.svg"
                                                                                  class="align-middle ml-1">
                        </div>
                      </div>
                      <div class="row justify-content-between align-items-center">
                        <div class="col-auto">
                          <p class="mb-0">Response time</p>
                        </div>
                        <div class="col-auto">
                          <span class="text-primary align-middle">&lt; 48h</span>
                          <img src="../assets/images/info.svg" class="align-middle ml-1">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="w-100 d-none d-sm-block"></div>
                <div class="col-12 col-lg-12 my-3 ml-sm-auto ml-lg-0 my-md-0 single-card--actions">
                  <div class="row no-gutters align-items-center">
                    <div class="col-6 pr-2">
                      <button class="btn btn-block btn-outline-primary btn-save 3 ml-auto">
                        <i class="icon-like mr-1 align-middle"></i><span>Save</span>
                      </button>
                    </div>
                    <div class="col-6 pl-2">
                      <button class="btn btn-primary btn-block btn-contact" data-dismiss="modal">
                        <i class="icon-email mr-0 mr-sm-2 align-middle"></i>
                        <span>Contact</span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-auto py-3">
              <div class="single-card--followers">
                <div class="row justify-content-between">
                  <div class="col-auto my-2 m-lg-0">
                    <a class="nav-link" href="#fb">
                      <div class="media">
                        <img class="align-self-center mr-1 mr-sm-2" src="../assets/images/networks/fb.svg" alt=" ">
                        <div class="media-body align-self-center">
                          <span class="mt-0">509
                            <span class="suffix">k</span>
                          </span>
                          <p class="label d-none d-sm-block mb-0">Followers</p>
                        </div>
                      </div>
                    </a>
                  </div>
                  <div class="col-auto my-2 m-lg-0">
                    <a class="nav-link" href="#tumblr">
                      <div class="media">
                        <img class="align-self-center mr-1 mr-sm-2" src="../assets/images/networks/tumblr.svg" alt=" ">
                        <div class="media-body align-self-center">
                          <span class="mt-0 value">12 573</span>
                          <p class="label d-none d-sm-block mb-0">Followers</p>
                        </div>
                      </div>
                    </a>
                  </div>
                  <div class="col-auto my-2 m-lg-0">
                    <a class="nav-link" href="#pinterest">
                      <div class="media">
                        <img class="align-self-center mr-1 mr-sm-2"
                             src="../assets/images/networks/pinterest.svg"
                             alt=" ">
                        <div class="media-body align-self-center">
                          <span class="mt-0 value">1.2
                            <span class="suffix">m</span>
                          </span>
                          <p class="label d-none d-sm-block mb-0">Followers</p>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="single-card--sections">
          <section id="fb" class="single-content--section">
            <div class="row align-items-center">
              <div class="col-auto pr-0">
                <img class="r-37" src="../assets/images/networks/fb.svg" alt=" ">
              </div>
              <div class="col-auto pr-0 pl-2">
                <h4 class="mb-0">Facebook:</h4>
              </div>
              <div class="col-auto">
                <a href="#"><h4 class="mb-0">@lizalpz</h4></a>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <ul class="row no-gutters py-4 single-card--badges">
                  <li class="col-6 col-sm-4 col-md-auto">
                    <div class="badge badge-outline--dark badge-single--profile d-flex flex-column"
                         data-placement="bottom"
                         title=""
                         data-original-title="20 % of the influencers posts are sponsored from a brand.">
                      <h4 class="mb-0">12,573</h4>
                      <p class="mb-0">Followers</p>
                    </div>
                  </li>
                  <li class="col-6 col-sm-4 col-md-auto">
                    <div class="badge badge-outline--dark badge-single--profile d-flex flex-column"
                         data-placement="bottom"
                         title=""
                         data-original-title="20 % of the influencers posts are sponsored from a brand.">
                      <h4 class="mb-0">3,5%</h4>
                      <p class="mb-0">Engagement</p>
                    </div>
                  </li>
                  <li class="col-6 col-sm-4 col-md-auto">
                    <div class="badge badge-outline--dark badge-single--profile d-flex flex-column"
                         data-placement="bottom"
                         title=""
                         data-original-title="20 % of the influencers posts are sponsored from a brand.">
                      <h4 class="mb-0">20</h4>
                      <p class="mb-0">Post / month</p>
                    </div>
                  </li>
                  <li class="col-6 col-sm-4 col-md-auto">
                    <div class="badge badge-outline--dark badge-single--profile d-flex flex-column"
                         data-placement="bottom"
                         title=""
                         data-original-title="20 % of the influencers posts are sponsored from a brand.">
                      <h4 class="mb-0">20%</h4>
                      <p class="mb-0">Sponsored</p>
                    </div>
                  </li>
                  <li class="col-6 col-sm-4 col-md-auto">
                    <div
                      class="badge badge-outline--dark badge-single--profile d-flex flex-column justify-content-center"
                      data-placement="bottom"
                      title=""
                      data-original-title="20 % of the influencers posts are sponsored from a brand.">
                      <div class="mb-0"><b>Swedish</b></div>
                      <div class="mb-0"><b>English</b></div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="row py-3">
              <div class="col">
                <h5 class="single-content--subtitle">Price list</h5>
                <ul class="">
                  <li>- It S Classified How To Utilize - 100 €</li>
                  <li>- Cooking On A George Foreman Grill - 250 €</li>
                  <li>- Microwave Cooking Is The Wave - 2500 €</li>
                  <li>- The Perfect Pot For - 5000 €</li>
                </ul>
              </div>
            </div>
            <div class="row pt-3">
              <div class="col-12">
                <h5 class="single-content--subtitle">Previous sponsored posts</h5>
              </div>
              <div class="col-12">
                <div class="row">
                  <div class="col-12 col-sm-6 col-md-4 py-2">
                    <div class="single-influencer--post">
                      <img class="single-influencer--post--image" src="../assets/images/post_1.png">
                      <div class="single-influencer--post--info">
                        <div class="container-fluid">
                          <div class="div row justify-content-center">
                            <div class="col-auto">
                              <ul>
                                <li>147 Likes</li>
                                <li>200 Comments</li>
                                <li>4.8% Engagement</li>
                                <li>3 days ago</li>
                              </ul>
                              <div>
                                <a href="#"><b>Click To See Full Post</b></a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-sm-6 col-md-4 py-2">
                    <div class="single-influencer--post">
                      <img class="single-influencer--post--image" src="../assets/images/post_2.png">
                      <div class="single-influencer--post--info">
                        <div class="container-fluid">
                          <div class="div row justify-content-center">
                            <div class="col-auto">
                              <ul>
                                <li>147 Likes</li>
                                <li>200 Comments</li>
                                <li>4.8% Engagement</li>
                                <li>3 days ago</li>
                              </ul>
                              <div>
                                <a href="#"><b>Click To See Full Post</b></a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-sm-6 col-md-4 py-2">
                    <div class="single-influencer--post">
                      <img class="single-influencer--post--image" src="../assets/images/post_1.png">
                      <div class="single-influencer--post--info">
                        <div class="container-fluid">
                          <div class="div row justify-content-center">
                            <div class="col-auto">
                              <ul>
                                <li>147 Likes</li>
                                <li>200 Comments</li>
                                <li>4.8% Engagement</li>
                                <li>3 days ago</li>
                              </ul>
                              <div>
                                <a href="#"><b>Click To See Full Post</b></a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="row">
                  <div class="col-12">
                    <div class="search_result_body">
                      <div class="more text-center">
                        <a href="#" class="d-block">
                          <span class="d-block">
                            <b>Load more</b>
                          </span><span class="d-block">
                            <i class="icon-arrow-down-bold"></i>
                          </span></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section id="tumblr" class="single-content--section">
            <div class="row align-items-center">
              <div class="col-auto pr-0">
                <img class="r-37" src="../assets/images/networks/tumblr.svg" alt=" ">
              </div>
              <div class="col-auto pr-0 pl-2">
                <h4 class="mb-0">Tumblr:</h4>
              </div>
              <div class="col-auto">
                <a href="#"><h4 class="mb-0">@lizalpz</h4></a>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <ul class="row no-gutters py-4 single-card--badges">
                  <li class="col-6 col-sm-4 col-md-auto">
                    <div class="badge badge-outline--dark badge-single--profile d-flex flex-column"
                         data-placement="bottom"
                         title=""
                         data-original-title="20 % of the influencers posts are sponsored from a brand.">
                      <h4 class="mb-0">12,573</h4>
                      <p class="mb-0">Followers</p>
                    </div>
                  </li>
                  <li class="col-6 col-sm-4 col-md-auto">
                    <div class="badge badge-outline--dark badge-single--profile d-flex flex-column"
                         data-placement="bottom"
                         title=""
                         data-original-title="20 % of the influencers posts are sponsored from a brand.">
                      <h4 class="mb-0">3,5%</h4>
                      <p class="mb-0">Engagement</p>
                    </div>
                  </li>
                  <li class="col-6 col-sm-4 col-md-auto">
                    <div class="badge badge-outline--dark badge-single--profile d-flex flex-column"
                         data-placement="bottom"
                         title=""
                         data-original-title="20 % of the influencers posts are sponsored from a brand.">
                      <h4 class="mb-0">20</h4>
                      <p class="mb-0">Post / month</p>
                    </div>
                  </li>
                  <li class="col-6 col-sm-4 col-md-auto">
                    <div class="badge badge-outline--dark badge-single--profile d-flex flex-column"
                         data-placement="bottom"
                         title=""
                         data-original-title="20 % of the influencers posts are sponsored from a brand.">
                      <h4 class="mb-0">20%</h4>
                      <p class="mb-0">Sponsored</p>
                    </div>
                  </li>
                  <li class="col-6 col-sm-4 col-md-auto">
                    <div
                      class="badge badge-outline--dark badge-single--profile d-flex flex-column justify-content-center"
                      data-placement="bottom"
                      title=""
                      data-original-title="20 % of the influencers posts are sponsored from a brand.">
                      <p class="mb-0"><b>Swedish</b></p>
                      <p class="mb-0"><b>English</b></p>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="row py-3">
              <div class="col">
                <h5 class="single-content--subtitle">Price list</h5>
                <ul class="">
                  <li>- It S Classified How To Utilize - 100 €</li>
                  <li>- Cooking On A George Foreman Grill - 250 €</li>
                  <li>- Microwave Cooking Is The Wave - 2500 €</li>
                  <li>- The Perfect Pot For - 5000 €</li>
                </ul>
              </div>
            </div>
            <div class="row pt-3">
              <div class="col-12">
                <h5 class="single-content--subtitle">Previous sponsored posts</h5>
              </div>
              <div class="col-12">
                <div class="row">
                  <div class="col-12 col-sm-6 col-md-4 py-2">
                    <div class="single-influencer--post">
                      <img class="single-influencer--post--image" src="../assets/images/post_1.png">
                      <div class="single-influencer--post--info">
                        <div class="container-fluid">
                          <div class="div row justify-content-center">
                            <div class="col-auto">
                              <ul>
                                <li>147 Likes</li>
                                <li>200 Comments</li>
                                <li>4.8% Engagement</li>
                                <li>3 days ago</li>
                              </ul>
                              <div>
                                <a href="#"><b>Click To See Full Post</b></a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-sm-6 col-md-4 py-2">
                    <div class="single-influencer--post">
                      <img class="single-influencer--post--image" src="../assets/images/post_2.png">
                      <div class="single-influencer--post--info">
                        <div class="container-fluid">
                          <div class="div row justify-content-center">
                            <div class="col-auto">
                              <ul>
                                <li>147 Likes</li>
                                <li>200 Comments</li>
                                <li>4.8% Engagement</li>
                                <li>3 days ago</li>
                              </ul>
                              <div>
                                <a href="#"><b>Click To See Full Post</b></a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-sm-6 col-md-4 py-2">
                    <div class="single-influencer--post">
                      <img class="single-influencer--post--image" src="../assets/images/post_1.png">
                      <div class="single-influencer--post--info">
                        <div class="container-fluid">
                          <div class="div row justify-content-center">
                            <div class="col-auto">
                              <ul>
                                <li>147 Likes</li>
                                <li>200 Comments</li>
                                <li>4.8% Engagement</li>
                                <li>3 days ago</li>
                              </ul>
                              <div>
                                <a href="#"><b>Click To See Full Post</b></a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="row">
                  <div class="col-12">
                    <div class="search_result_body">
                      <div class="more text-center">
                        <a href="#" class="d-block">
                          <span class="d-block">
                            <b>Load more</b>
                          </span><span class="d-block">
                            <i class="icon-arrow-down-bold"></i>
                          </span></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section id="instagram" class="single-content--section">
            <div class="row align-items-center">
              <div class="col-auto pr-0">
                <img class="r-37 mr-2" src="../assets/images/networks/instagram.svg" alt=" ">
              </div>
              <div class="col-auto pr-0 pl-2">
                <h4 class="mb-0">Instagram:</h4>
              </div>
              <div class="col-auto">
                <a href="#"><h4 class="mb-0">@lizalpz</h4></a>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <ul class="row no-gutters py-4 single-card--badges">
                  <li class="col-6 col-sm-4 col-md-auto">
                    <div class="badge badge-outline--dark badge-single--profile d-flex flex-column"
                         title=""
                         data-placement="bottom"
                         data-original-title="20 % of the influencers posts are sponsored from a brand.">
                      <h4 class="mb-0">12,573</h4>
                      <p class="mb-0">Followers</p>
                    </div>
                  </li>
                  <li class="col-6 col-sm-4 col-md-auto">
                    <div class="badge badge-outline--dark badge-single--profile d-flex flex-column"
                         data-placement="bottom"
                         title=""
                         data-original-title="20 % of the influencers posts are sponsored from a brand.">
                      <h4 class="mb-0">3,5%</h4>
                      <p class="mb-0">Engagement</p>
                    </div>
                  </li>
                  <li class="col-6 col-sm-4 col-md-auto">
                    <div class="badge badge-outline--dark badge-single--profile d-flex flex-column"
                         data-placement="bottom"
                         title=""
                         data-original-title="20 % of the influencers posts are sponsored from a brand.">
                      <h4 class="mb-0">20</h4>
                      <p class="mb-0">Post / month</p>
                    </div>
                  </li>
                  <li class="col-6 col-sm-4 col-md-auto">
                    <div class="badge badge-outline--dark badge-single--profile d-flex flex-column"
                         data-placement="bottom"
                         title=""
                         data-original-title="20 % of the influencers posts are sponsored from a brand.">
                      <h4 class="mb-0">20%</h4>
                      <p class="mb-0">Sponsored</p>
                    </div>
                  </li>
                  <li class="col-6 col-sm-4 col-md-auto">
                    <div
                      class="badge badge-outline--dark badge-single--profile d-flex flex-column justify-content-center"
                      data-placement="bottom"
                      title=""
                      data-original-title="20 % of the influencers posts are sponsored from a brand.">
                      <p class="mb-0"><b>Swedish</b></p>
                      <p class="mb-0"><b>English</b></p>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="row py-3">
              <div class="col">
                <h5 class="single-content--subtitle">Price list</h5>
                <ul class="">
                  <li>- It S Classified How To Utilize - 100 €</li>
                  <li>- Cooking On A George Foreman Grill - 250 €</li>
                  <li>- Microwave Cooking Is The Wave - 2500 €</li>
                  <li>- The Perfect Pot For - 5000 €</li>
                </ul>
              </div>
            </div>
            <div class="row pt-3">
              <div class="col-12">
                <h5 class="single-content--subtitle">Previous sponsored posts</h5>
              </div>
              <div class="col-12">
                <div class="row">
                  <div class="col-12 col-sm-6 col-md-4 py-2">
                    <div class="single-influencer--post">
                      <img class="single-influencer--post--image" src="../assets/images/post_1.png">
                      <div class="single-influencer--post--info">
                        <div class="container-fluid">
                          <div class="div row justify-content-center">
                            <div class="col-auto">
                              <ul>
                                <li>147 Likes</li>
                                <li>200 Comments</li>
                                <li>4.8% Engagement</li>
                                <li>3 days ago</li>
                              </ul>
                              <div>
                                <a href="#"><b>Click To See Full Post</b></a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-sm-6 col-md-4 py-2">
                    <div class="single-influencer--post">
                      <img class="single-influencer--post--image" src="../assets/images/post_2.png">
                      <div class="single-influencer--post--info">
                        <div class="container-fluid">
                          <div class="div row justify-content-center">
                            <div class="col-auto">
                              <ul>
                                <li>147 Likes</li>
                                <li>200 Comments</li>
                                <li>4.8% Engagement</li>
                                <li>3 days ago</li>
                              </ul>
                              <div>
                                <a href="#"><b>Click To See Full Post</b></a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-sm-6 col-md-4 py-2">
                    <div class="single-influencer--post">
                      <img class="single-influencer--post--image" src="../assets/images/post_1.png">
                      <div class="single-influencer--post--info">
                        <div class="container-fluid">
                          <div class="div row justify-content-center">
                            <div class="col-auto">
                              <ul>
                                <li>147 Likes</li>
                                <li>200 Comments</li>
                                <li>4.8% Engagement</li>
                                <li>3 days ago</li>
                              </ul>
                              <div>
                                <a href="#"><b>Click To See Full Post</b></a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="row">
                  <div class="col-12">
                    <div class="search_result_body">
                      <div class="more text-center">
                        <a href="#" class="d-block">
                          <span class="d-block">
                            <b>Load more</b>
                          </span><span class="d-block">
                            <i class="icon-arrow-down-bold"></i>
                          </span></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section id="pinterest" class="single-content--section">
            <div class="row align-items-center">
              <div class="col-auto pr-0">
                <img class="r-37 mr-2" src="../assets/images/networks/pinterest.svg" alt=" ">
              </div>
              <div class="col-auto pr-0 pl-2">
                <h4 class="mb-0">Pinterest:</h4>
              </div>
              <div class="col-auto">
                <a href="#"><h4 class="mb-0">@lizalpz</h4></a>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <ul class="row no-gutters py-4 single-card--badges">
                  <li class="col-6 col-sm-4 col-md-auto">
                    <div class="badge badge-outline--dark badge-single--profile d-flex flex-column"
                         data-placement="bottom"
                         title=""
                         data-original-title="20 % of the influencers posts are sponsored from a brand.">
                      <h4 class="mb-0">12,573</h4>
                      <p class="mb-0">Followers</p>
                    </div>
                  </li>
                  <li class="col-6 col-sm-4 col-md-auto">
                    <div class="badge badge-outline--dark badge-single--profile d-flex flex-column"
                         data-placement="bottom"
                         title=""
                         data-original-title="20 % of the influencers posts are sponsored from a brand.">
                      <h4 class="mb-0">3,5%</h4>
                      <p class="mb-0">Engagement</p>
                    </div>
                  </li>
                  <li class="col-6 col-sm-4 col-md-auto">
                    <div class="badge badge-outline--dark badge-single--profile d-flex flex-column"
                         data-placement="bottom"
                         title=""
                         data-original-title="20 % of the influencers posts are sponsored from a brand.">
                      <h4 class="mb-0">20</h4>
                      <p class="mb-0">Post / month</p>
                    </div>
                  </li>
                  <li class="col-6 col-sm-4 col-md-auto">
                    <div class="badge badge-outline--dark badge-single--profile d-flex flex-column"
                         data-placement="bottom"
                         title=""
                         data-original-title="20 % of the influencers posts are sponsored from a brand.">
                      <h4 class="mb-0">20%</h4>
                      <p class="mb-0">Sponsored</p>
                    </div>
                  </li>
                  <li class="col-6 col-sm-4 col-md-auto">
                    <div
                      class="badge badge-outline--dark badge-single--profile d-flex flex-column justify-content-center"
                      data-placement="bottom"
                      title=""
                      data-original-title="20 % of the influencers posts are sponsored from a brand.">
                      <p class="mb-0"><b>Swedish</b></p>
                      <p class="mb-0"><b>English</b></p>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="row py-3">
              <div class="col">
                <h5 class="single-content--subtitle">Price list</h5>
                <ul class="">
                  <li>- It S Classified How To Utilize - 100 €</li>
                  <li>- Cooking On A George Foreman Grill - 250 €</li>
                  <li>- Microwave Cooking Is The Wave - 2500 €</li>
                  <li>- The Perfect Pot For - 5000 €</li>
                </ul>
              </div>
            </div>
            <div class="row pt-3">
              <div class="col-12">
                <h5 class="single-content--subtitle">Previous sponsored posts</h5>
              </div>
              <div class="col-12">
                <div class="row">
                  <div class="col-12 col-sm-6 col-md-4 py-2">
                    <div class="single-influencer--post">
                      <img class="single-influencer--post--image" src="../assets/images/post_1.png">
                      <div class="single-influencer--post--info">
                        <div class="container-fluid">
                          <div class="div row justify-content-center">
                            <div class="col-auto">
                              <ul>
                                <li>147 Likes</li>
                                <li>200 Comments</li>
                                <li>4.8% Engagement</li>
                                <li>3 days ago</li>
                              </ul>
                              <div>
                                <a href="#"><b>Click To See Full Post</b></a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-sm-6 col-md-4 py-2">
                    <div class="single-influencer--post">
                      <img class="single-influencer--post--image" src="../assets/images/post_2.png">
                      <div class="single-influencer--post--info">
                        <div class="container-fluid">
                          <div class="div row justify-content-center">
                            <div class="col-auto">
                              <ul>
                                <li>147 Likes</li>
                                <li>200 Comments</li>
                                <li>4.8% Engagement</li>
                                <li>3 days ago</li>
                              </ul>
                              <div>
                                <a href="#"><b>Click To See Full Post</b></a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-sm-6 col-md-4 py-2">
                    <div class="single-influencer--post">
                      <img class="single-influencer--post--image" src="../assets/images/post_1.png">
                      <div class="single-influencer--post--info">
                        <div class="container-fluid">
                          <div class="div row justify-content-center">
                            <div class="col-auto">
                              <ul>
                                <li>147 Likes</li>
                                <li>200 Comments</li>
                                <li>4.8% Engagement</li>
                                <li>3 days ago</li>
                              </ul>
                              <div>
                                <a href="#"><b>Click To See Full Post</b></a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="row">
                  <div class="col-12">
                    <div class="search_result_body">
                      <div class="more text-center">
                        <a href="#" class="d-block">
                          <span class="d-block">
                            <b>Load more</b>
                          </span><span class="d-block">
                            <i class="icon-arrow-down-bold"></i>
                          </span></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
