.pagination {
  li {
    display: inline-block;
    text-decoration: none;
    vertical-align: middle;
    & + li {
      margin-left: 20px;
    }
    a {
      display: block;
      width: 24px;
      height: 24px;
      box-sizing: content-box;
      position: relative;
      border: 2px solid;
      border-radius: 50%;
      border-color: transparent;
      @include media-breakpoint-up(md) {
        width: 32px;
        height: 32px;
      }
      b {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    &:last-child {
      a {
       border-color: inherit;
      }
    }

  }
}
