.form-control {
  min-height: 40px;
  border-radius: 5px;
  border-color: $border-color;
  color: $body-color;
  &:focus {
    box-shadow: none;
  }
  @include media-breakpoint-up(sm) {
    padding: 0 12px;
  }
}

.form_title {
  margin-bottom: 12px;
  padding-top: 10px;
}

label {
  font-weight: 900;
  font-size: 13px;
  margin-bottom: .7rem;
}

.label-basic {
  font-size: 16px;
  font-weight: 400;
}

input[type="checkbox"] {
  display: none;
  & + label {
    position: relative;

    display: flex;
    align-items: center;
    padding: 7px 0;
    padding-left: 26px;
    margin-bottom: 0;
    user-select: none;
    white-space: nowrap;
    cursor: pointer;
    font-weight: 400;
    box-sizing: content-box;
    @include media-breakpoint-up(sm) {
      padding-left: 32px;
      font-size: 16px;
    }

    .box {
      position: absolute;
      height: 20px;
      width: 20px;
      border-radius: 5px;
      box-shadow: 0 0 0 1px $border-color;
      left: 0;
      top: 50%;
      transform: translate(0, -50%);
      overflow: hidden;
      @include transition(0.2s box-shadow);
      @include media-breakpoint-up(sm) {
        height: 22px;
        width: 22px;
        border-radius: 5px;
      }
      &:after {
        content: '';
        display: block;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 65%;
        background-image: url('../../assets/images/checked.svg');
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        transform: scale(0);
        opacity: 0;
        visibility: hidden;
        @include transition(0.2s all);
      }
    }

    @include media-breakpoint-up(sm) {
      font-size: inherit;
    }
  }
  &:checked {
    + label {
      .box {
        box-shadow: 0 0 0 1px $blue;
        &:after {
          transform: scale(1);
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
}

input[type="radio"] {
  display: none;
  & + label {
    font-weight: normal;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 7px 0;
    box-sizing: content-box;
    .dot {
      width: 21px;
      height: 21px;
      box-shadow: 0 0 0 1px $border-color;
      border-radius: 50%;
      margin-right: 10px;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      @include transition(0.2s border-color);
      &:after {
        content: '';
        width: 7px;
        height: 7px;
        border-radius: 50%;
        display: block;
        transform: scale(0);
        @include transition(0.2s all);
      }
    }
  }
  &:checked {
    & + label {
      .dot {
        box-shadow: 0 0 0 1px $blue;
        &:after {
          background-color: $blue;
          transform: scale(1);
        }
      }
    }
  }
}

.help-block {
  &.abs-bot {
    position: absolute;
    top: 100%;
    font-size: 12px;
    margin-top: -8px;
    left: $grid-gutter-width / 2;
    right: $grid-gutter-width / 2;
  }
}

.label-box {
  position: relative;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  label {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }
}
