.tooltip-inner {
  background-color: #fff;
  border: 1px solid #58A3D5;
  color: #000;
  border-radius: 8px;
  padding: 18px;
}

.tooltip .arrow {
  border-width: 1px 0 0 1px;
  width: 25px;
  height: 25px;
  border-color: #69acda;
  border-style: solid;
  transform: rotate(45deg) translate3d(0,0,0);
  z-index: 1;
  background-color: #fff;
  &:before {
    display: none;
  }
}
.tooltip.show {
  opacity: 1;
}
