.reg-progress {
  left: 0;
  right: 0;
  //border-top: 1px solid $border-color;
  .reg-progress-content {
    background-color: #fff;
    padding: 10px 20px;
    border: 1px solid $border-color;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin: 0 -15px;
    @include media-breakpoint-down(xs) {
      border-radius: 0;
      border-left: none;
      border-right: none;

    }
    //> .row {
    //  height: 50px;
    //  @include media-breakpoint-up(sm) {
    //    height: 60px;
    //  }
    //}
  }

  @include media-breakpoint-up(sm) {
    //border: 1px solid $border-color;
    //background-color: #fff;
    .btn {
      min-width: 160px;
    }
  }

  //@include media-breakpoint-up(lg) {
  //  left: 8px;
  //  right: 8px;
  //  max-width: calc((100% - 16px) - (100% / 3));
  //}
}

.reg-progress_ul {
  li {
    position: relative;
    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      height: 1px;
      width: 100%;
      background-color: $border-color;
      z-index: 5;
    }
    &:last-child {
      &:after {
        display: none;
      }
    }

    &.complete {
      .reg-progress_circle {
        background-color: $green;
        border-color: $green;
      }
      &:after {
        background-color: $green;
        height: 2px;
        @include media-breakpoint-up(sm) {
          height: 3px;
        }
      }
    }

    @include media-breakpoint-down(xs) {
      padding: 0;
    }
  }
}

.reg-progress_circle {
  border: 1px solid $border-color;
  background-color: white;
  position: relative;
  width: 16px;
  height: 16px;
  z-index: 10;
  @include media-breakpoint-up(sm) {
    width: 20px;
    height: 20px;
  }
}