//DRAG AND DROP

.dnd-file {
  min-height: 160px;
}

.dnd-drop--area {
  min-height: 120px;
  font-size: 16px;
  position: relative;
  background-color: #fff;
  transition: 0.33s all;
  .dnd-on--area & {
    &.dnd-area--active {
      box-shadow: 0 0 3px 2px rgba(87, 164, 213, 0.5);
      border-color: #57a4d5;
      color: #57a4d5;
      z-index: 1050;
      opacity: 1;
      visibility: visible;
    }

  }
  i {
    font-size: 41px;
    color: #BDC0C9;
  }
  .upload_file_wrapper {
    padding: 15px 0;
    text-align: center;
    min-height: 170px;
  }
  &.rounded_img {
    border: 1px solid #BDC0C9;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-right: auto;
    margin-left: auto;
    @include media-breakpoint-up(sm) {
      margin: 0;
      width: 118px;
      height: 118px;
    }

  }
  &.rectangle_img {
    width: 100%;
    height: 150px;
    border: 1px solid #BDC0C9;
    @include media-breakpoint-up(sm) {
      height: 140px;
    }
    //padding-bottom: 60%;

  }
}


.dnd-overlay {
  background-color: rgba(0,0,0,0.2);
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1040;
  transition: 0.3s all;
  visibility: hidden;
  opacity: 0;
  .dnd-on--area &{
    visibility: visible;
    opacity: 1;
  }

}
