<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<%
const {Influencer} = require('./partials/influencer.card');
const influencers = [
  {
    name: 'Betty Boo',
    age: 27,
    photos: [
      require('./assets/images/influencer-1.png'),
      require('./assets/images/influencer-2.png'),
      require('./assets/images/influencer-3.png')
    ],
    social: {
      tumblr: 4222,
      pinterest: 32122,
      blog: 12100
    }
  },
  {
    name: 'Lindsey Joe',
    age: 23,
    photos: [
      require('./assets/images/influencer-1.png'),
      require('./assets/images/influencer-4.png'),
      require('./assets/images/influencer-5.png')
    ],
    social: {
      facebook: 9156,
      tumblr: 3200,
      pinterest: 12098,
      blog: 1200
    }
  },
  {
    name: 'Monica Belucci',
    age: 27,
    photos: [
      require('./assets/images/influencer-3.png'),
      require('./assets/images/influencer-1.png'),
      require('./assets/images/influencer-4.png')
    ],
    social: {
      snapchat: 9156,
      twitter: 3200,
      instagram: 12098,
      podcast: 1200
    }
  },
  {
    name: 'Lina Van',
    age: 22,
    photos: [
      require('./assets/images/influencer-5.png'),
      require('./assets/images/influencer-4.png'),
      require('./assets/images/influencer-3.png')
    ],
    social: {
      facebook: 9156,
      tumblr: 3200,
      pinterest: 12098,
      blog: 55000
    }
  }
];
%>
<body class="bg-light">
  <%= require('html-loader!./partials/header.html') %>
  <main class="main-content">
    <!--FIND INFLUENCERS-->
    <div class="find-influencer">
      <div class="container-fluid py-3 pt-lg-4">
        <div class="row justify-content-center">
          <div class="col-12 text-center">
            <h2 class="content-box__title mb-4 mt-2">Find influencer</h2>
          </div>
          <div class="col-12">
            <div class="content-box rounded bg-white">
              <section class="content-box--group">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-12">
                      <!--TABS NAVIGATION-->
                      <nav>
                        <ul class="nav nav-tabs find-influencer--navtabs border-0 py-3" role="tablist">
                          <li class="nav-item">
                            <a class="nav-link active m-0 px-0"
                               data-toggle="tab"
                               href="#findInfluencer"
                               role="tab"
                               aria-expanded="true">Find new influencers</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link m-0 px-0"
                               data-toggle="tab"
                               href="#likedInfluencer"
                               role="tab">Liked/Saved Influencers</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link m-0 px-0"
                               data-toggle="tab"
                               href="#myInfluencer"
                               role="tab">My influencers</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link m-0 px-0" data-toggle="tab" href="#wishlist" role="tab">Wishlist</a>
                          </li>
                        </ul>
                      </nav>
                      <!--TABS CONTENT-->
                      <div class="tab-content">
                        <!--done-->
                        <div class="tab-pane fade show active" id="findInfluencer" role="tabpanel">
                          <div class="row align-items-center">
                            <div class="col-12 col-lg">
                              <form id="searchInfluencer" class="form-horizontal">
                                <div class="row align-items-center">
                                  <div class="col pr-0">
                                    <div class="form-group mb-0">
                                      <input type="search"
                                             class="form-control"
                                             id="inputSearch"
                                             placeholder="Search for influencer">
                                    </div>
                                  </div>
                                  <div class="col-auto">
                                    <div class="form-group mb-0">
                                      <button class="btn btn-primary btn-block btn-search">
                                        <i class="icon-search"></i></button>
                                    </div>
                                  </div>
                                </div>
                              </form>
                            </div>
                            <div class="col-12 pt-2 d-none d-md-block">
                              <div class="row align-items-center">
                                <div class="col-auto">
                                  <span class="small text-asphalt">Filters</span>
                                </div>
                                <div class="col px-0">
                                  <ul id="searchFilter" class="search-filter--ul btn-group">
                                    <li class="dropdown">
                                      <button id="jSds"
                                              type="button"
                                              class="btn btn-sm btn-outline-primary"
                                              data-toggle="dropdown"
                                              aria-haspopup="true"
                                              aria-expanded="false">Sex
                                      </button>
                                      <div aria-labelledby="jSds" class="dropdown-menu p-0">
                                        <div class="container-fluid">
                                          <div class="row py-3 flex-sm-column">
                                            <div class="col-12">
                                              <h6 class="text-dark mb-3"><strong>Gender</strong></h6>
                                            </div>
                                            <div class="col-12">
                                              <p class="mb-0">The demographics data is not 100% correct</p>
                                              <a href="#">(read more)</a>
                                            </div>
                                          </div>
                                          <div class="row py-3 justify-content-center flex-sm-column">
                                            <div class="col-auto">
                                              <div class="form-group mb-3">
                                                <input type="checkbox" name="men" id="men"> <label for="men"> <span
                                                    class="box"></span> Men</label>
                                              </div>
                                            </div>
                                            <div class="col-auto">
                                              <div class="form-group mb-3">
                                                <input type="checkbox" name="women" id="women"> <label for="women">
                                                  <span class="box"></span> Women</label>
                                              </div>
                                            </div>
                                            <div class="col-auto">
                                              <div class="form-group mb-0">
                                                <input type="checkbox" name="unknown" id="unknown">
                                                <label for="unknown"> <span class="box"></span> Unknown</label>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="row pt-3 pb-4">
                                            <div class="col-sm-5 col-md pb-5 py-md-0">
                                              <div class="gs-sliderrange-wrapper">
                                                <div class="form-group">
                                                  <div class="mb-4">
                                                    <label class="label-basic text-dark d-block">Age</label> <input
                                                      title="gs-handle--input"
                                                      type="text"
                                                      class="form-control d-inline"
                                                      data-handle="0"/> <span class="text-asphalt mx-1">-</span> <input
                                                      title="gs-handle--input"
                                                      type="text"
                                                      class="form-control d-inline"
                                                      data-handle="1"/> <span class="text-asphalt ml-1">years</span>
                                                  </div>
                                                  <div id="sliderAge"
                                                       class="gs-range--slider"
                                                       data-start="13, 25"
                                                       data-min="13"
                                                       data-max="65"
                                                       data-step="1"
                                                       data-connect="true"></div>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="row py-3 justify-content-between dropdown-menu--actions">
                                            <div class="col-auto">
                                              <button class="btn btn-block btn-sm btn-cancel" data-dismiss="modal">
                                                Cancel
                                              </button>
                                            </div>
                                            <div class="col-auto">
                                              <button class="btn btn-block btn-primary btn-sm btn-apply">
                                                Apply
                                              </button>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </li>
                                    <li class="dropdown">
                                      <button class="btn btn-sm btn-outline-primary"
                                              data-toggle="dropdown"
                                              aria-haspopup="true"
                                              aria-expanded="false">Up to $250
                                      </button>
                                      <div class="dropdown-menu p-0">
                                        <div class="container-fluid">
                                          <div class="row py-3">
                                            <div class="col-12">
                                              <div class="gs-sliderrange-wrapper">
                                                <div class="form-group">
                                                  <div class="mb-4">
                                                    <h6 class="text-dark mb-4"><strong>Price per post range</strong>
                                                    </h6>
                                                    <input title="gs-handle--input"
                                                           type="text"
                                                           class="form-control d-inline"
                                                           data-handle="0"/> <span class="text-asphalt mx-1">-</span>
                                                    <input title="gs-handle--input"
                                                           type="text"
                                                           class="form-control d-inline"
                                                           data-handle="1"/>
                                                  </div>
                                                  <div id="sliderPrice"
                                                       class="gs-range--slider"
                                                       data-start="50, 500"
                                                       data-min="50"
                                                       data-max="1000"
                                                       data-step="1"
                                                       data-currency="$"
                                                       data-connect="true"></div>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="row justify-content-between dropdown-menu--actions py-3">
                                            <div class="col-auto">
                                              <button class="btn btn-block btn-sm btn-cancel" data-dismiss="modal">
                                                Cancel
                                              </button>
                                            </div>
                                            <div class="col-auto">
                                              <button class="btn btn-block btn-primary btn-sm btn-apply">
                                                Apply
                                              </button>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </li>
                                    <li class="dropdown">
                                      <button class="btn btn-sm btn-outline-primary"
                                              data-toggle="dropdown"
                                              aria-haspopup="true"
                                              aria-expanded="false">Categories
                                      </button>
                                      <div class="dropdown-menu p-0">
                                        <div class="container-fluid">
                                          <div class="row py-3">
                                            <div class="col-4 col-sm-4">
                                              <div class="form-group">
                                                <input type="checkbox" class="checked-all" id="categories_all"> <label
                                                  for="categories_all"> <span class="box"></span> All categories</label>
                                              </div>
                                            </div>
                                            <div class="col-4 col-sm-4">
                                              <div class="form-group">
                                                <input type="checkbox" name="networks_fashion" id="networks_fashion">
                                                <label for="networks_fashion"> <span class="box"></span> Fashion</label>
                                              </div>
                                            </div>
                                            <div class="col-4 col-sm-4">
                                              <div class="form-group">
                                                <input type="checkbox" name="networks_fashion1" id="networks_fashion1">
                                                <label for="networks_fashion1">
                                                  <span class="box"></span> Fashion</label>
                                              </div>
                                            </div>
                                            <div class="col-4 col-sm-4">
                                              <div class="form-group">
                                                <input type="checkbox" name="networks_fashion2" id="networks_fashion2">
                                                <label for="networks_fashion2">
                                                  <span class="box"></span> Fashion</label>
                                              </div>
                                            </div>
                                            <div class="col-4 col-sm-4">
                                              <div class="form-group">
                                                <input type="checkbox"
                                                       name="categories_electronic"
                                                       id="categories_electronic"> <label for="categories_electronic">
                                                  <span class="box"></span> Electronic</label>
                                              </div>
                                            </div>
                                            <div class="col-4 col-sm-4">
                                              <div class="form-group">
                                                <input type="checkbox"
                                                       name="categories_electronic1"
                                                       id="categories_electronic1"> <label for="categories_electronic1">
                                                  <span class="box"></span> Electronic</label>
                                              </div>
                                            </div>
                                            <div class="col-4 col-sm-4">
                                              <div class="form-group">
                                                <input type="checkbox"
                                                       name="categories_electronic2"
                                                       id="categories_electronic2"> <label for="categories_electronic2">
                                                  <span class="box"></span> Electronic</label>
                                              </div>
                                            </div>
                                            <div class="col-4 col-sm-4">
                                              <div class="form-group">
                                                <input type="checkbox"
                                                       name="categories_electronic3"
                                                       id="categories_electronic3"> <label for="categories_electronic3">
                                                  <span class="box"></span> Electronic</label>
                                              </div>
                                            </div>
                                            <div class="col-4 col-sm-4">
                                              <div class="form-group">
                                                <input type="checkbox" name="categories_yoga" id="categories_yoga">
                                                <label for="categories_yoga"> <span class="box"></span> Yoga</label>
                                              </div>
                                            </div>
                                            <div class="col-4 col-sm-4">
                                              <div class="form-group">
                                                <input type="checkbox" name="categories_yoga1" id="categories_yoga1">
                                                <label for="categories_yoga1"> <span class="box"></span> Yoga</label>
                                              </div>
                                            </div>
                                            <div class="col-4 col-sm-4">
                                              <div class="form-group">
                                                <input type="checkbox"
                                                       name="categories_electronic4"
                                                       id="categories_electronic4"> <label for="categories_electronic4">
                                                  <span class="box"></span> Electronic</label>
                                              </div>
                                            </div>
                                            <div class="col-4 col-sm-4">
                                              <div class="form-group">
                                                <input type="checkbox"
                                                       name="categories_electronic5"
                                                       id="categories_electronic5"> <label for="categories_electronic5">
                                                  <span class="box"></span> Electronic</label>
                                              </div>
                                            </div>
                                            <div class="col-4 col-sm-4">
                                              <div class="form-group">
                                                <input type="checkbox"
                                                       name="categories_electronic6"
                                                       id="categories_electronic6"> <label for="categories_electronic6">
                                                  <span class="box"></span> Electronic</label>
                                              </div>
                                            </div>
                                            <div class="col-4 col-sm-4">
                                              <div class="form-group">
                                                <input type="checkbox"
                                                       name="categories_electronic7"
                                                       id="categories_electronic7"> <label for="categories_electronic7">
                                                  <span class="box"></span> Electronic</label>
                                              </div>
                                            </div>
                                            <div class="col-4 col-sm-4">
                                              <div class="form-group">
                                                <input type="checkbox" name="categories_yoga2" id="categories_yoga2">
                                                <label for="categories_yoga2"> <span class="box"></span> Yoga</label>
                                              </div>
                                            </div>
                                            <div class="col-4 col-sm-4">
                                              <div class="form-group">
                                                <input type="checkbox" name="categories_yoga3" id="categories_yoga3">
                                                <label for="categories_yoga3"> <span class="box"></span> Yoga</label>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="row py-3 justify-content-between dropdown-menu--actions">
                                            <div class="col-auto">
                                              <button class="btn btn-block btn-sm btn-cancel" data-dismiss="modal">
                                                Cancel
                                              </button>
                                            </div>
                                            <div class="col-auto">
                                              <button class="btn btn-block btn-primary btn-sm btn-apply">
                                                Apply
                                              </button>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </li>
                                    <li class="dropdown">
                                      <button class="btn btn-sm btn-outline-primary"
                                              data-toggle="dropdown"
                                              aria-haspopup="true"
                                              aria-expanded="false">Networks
                                      </button>
                                      <div class="dropdown-menu p-0">
                                        <div class="container-fluid">
                                          <div class="row py-3">
                                            <div class="col-6 col-sm-4">
                                              <div class="form-group">
                                                <input type="checkbox"
                                                       class="checked-all"
                                                       name="networks_all"
                                                       id="networks_all"> <label for="networks_all">
                                                  <span class="box"></span> All networks</label>
                                              </div>
                                            </div>
                                            <div class="col-6 col-sm-4">
                                              <div class="form-group">
                                                <input type="checkbox" name="networks_tw" id="networks_tw">
                                                <label for="networks_tw"> <span class="box"></span>
                                                  <span class="network-icon with-title tw"></span> Twitter</label>
                                              </div>
                                            </div>
                                            <div class="col-6 col-sm-4">
                                              <div class="form-group">
                                                <input type="checkbox"
                                                       name="networks_instagram"
                                                       id="networks_instagram"> <label for="networks_instagram"> <span
                                                    class="box"></span>
                                                  <span class="network-icon with-title instagram"></span> Instagram</label>
                                              </div>
                                            </div>
                                            <div class="col-6 col-sm-4">
                                              <div class="form-group">
                                                <input type="checkbox" name="networks_youtube" id="networks_youtube">
                                                <label for="networks_youtube"> <span class="box"></span>
                                                  <span class="network-icon with-title youtube"></span> Youtube</label>
                                              </div>
                                            </div>
                                            <div class="col-6 col-sm-4">
                                              <div class="form-group">
                                                <input type="checkbox"
                                                       name="networks_pinterest"
                                                       id="networks_pinterest"> <label for="networks_pinterest"> <span
                                                    class="box"></span>
                                                  <span class="network-icon with-title pinterest"></span> Pinterest</label>
                                              </div>
                                            </div>
                                            <div class="col-6 col-sm-4">
                                              <div class="form-group">
                                                <input type="checkbox" name="networks_blog" id="networks_blog"> <label
                                                  for="networks_blog"> <span class="box"></span>
                                                  <span class="network-icon with-title blog"></span> Blog</label>
                                              </div>
                                            </div>
                                            <div class="col-6 col-sm-4">
                                              <div class="form-group">
                                                <input type="checkbox" name="networks_tumblr" id="networks_tumblr">
                                                <label for="networks_tumblr"> <span class="box"></span>
                                                  <span class="network-icon with-title tumblr"></span> Tumblr </label>
                                              </div>
                                            </div>
                                            <div class="col-6 col-sm-4">
                                              <div class="form-group">
                                                <input type="checkbox" name="networks_podcast" id="networks_podcast">
                                                <label for="networks_podcast"> <span class="box"></span>
                                                  <span class="network-icon with-title podcast"></span> Podcast </label>
                                              </div>
                                            </div>
                                            <div class="col-6 col-sm-4">
                                              <div class="form-group">
                                                <input type="checkbox" name="networks_snapchat" id="networks_snapchat">
                                                <label for="networks_snapchat"> <span class="box"></span>
                                                  <span class="network-icon with-title snapchat"></span> Snapchat</label>
                                              </div>
                                            </div>
                                            <div class="col-6 col-sm-4">
                                              <div class="form-group">
                                                <input type="checkbox" name="networks_fb" id="networks_fb">
                                                <label for="networks_fb"> <span class="box"></span>
                                                  <span class="network-icon with-title fb"></span> Facebook</label>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="row py-3 justify-content-between">
                                            <div class="col-auto">
                                              <button class="btn btn-block btn-sm btn-cancel" data-dismiss="modal">
                                                Cancel
                                              </button>
                                            </div>
                                            <div class="col-auto">
                                              <button class="btn btn-block btn-primary btn-sm btn-apply">
                                                Apply
                                              </button>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </li>
                                    <li class="dropdown">
                                      <button class="btn btn-sm btn-outline-primary"
                                              data-toggle="dropdown"
                                              aria-haspopup="true"
                                              aria-expanded="false">Agencies
                                      </button>
                                      <div class="dropdown-menu p-0">
                                        <div class="container-fluid">
                                          <div class="row py-3">
                                            <div class="col-6 col-sm-4">
                                              <div class="form-group">
                                                <input type="checkbox"
                                                       class="checked-all"
                                                       name="agencies_all"
                                                       id="agencies_all"> <label for="agencies_all">
                                                  <span class="box"></span> All agencies</label>
                                              </div>
                                            </div>
                                            <div class="col-6 col-sm-4">
                                              <div class="form-group">
                                                <input type="checkbox" name="networks_gs" id="networks_gs">
                                                <label for="networks_gs"> <span class="box"></span>
                                                  <span class="network-icon with-title gs"></span> GrowSocial</label>
                                              </div>
                                            </div>
                                            <div class="col-6 col-sm-4">
                                              <div class="form-group">
                                                <input type="checkbox" name="agency_1" id="agency_1">
                                                <label for="agency_1"> <span class="box"></span>
                                                  <span class="network-icon with-title"></span> Agency</label>
                                              </div>
                                            </div>
                                            <div class="col-6 col-sm-4">
                                              <div class="form-group">
                                                <input type="checkbox" name="agency_2" id="agency_2">
                                                <label for="agency_2"> <span class="box"></span>
                                                  <span class="network-icon with-title"></span> Agency</label>
                                              </div>
                                            </div>
                                            <div class="col-6 col-sm-4">
                                              <div class="form-group">
                                                <input type="checkbox" name="agency_3" id="agency_3">
                                                <label for="agency_3"> <span class="box"></span>
                                                  <span class="network-icon with-title"></span> Agency</label>
                                              </div>
                                            </div>
                                            <div class="col-6 col-sm-4">
                                              <div class="form-group">
                                                <input type="checkbox" name="agency_4" id="agency_4">
                                                <label for="agency_4"> <span class="box"></span>
                                                  <span class="network-icon with-title"></span> Agency</label>
                                              </div>
                                            </div>
                                            <div class="col-6 col-sm-4">
                                              <div class="form-group">
                                                <input type="checkbox" name="agency_5" id="agency_5">
                                                <label for="agency_5"> <span class="box"></span>
                                                  <span class="network-icon with-title"></span> Agency</label>
                                              </div>
                                            </div>
                                            <div class="col-6 col-sm-4">
                                              <div class="form-group">
                                                <input type="checkbox" name="agency_6" id="agency_6">
                                                <label for="agency_6"> <span class="box"></span>
                                                  <span class="network-icon with-title"></span> Agency</label>
                                              </div>
                                            </div>
                                            <div class="col-6 col-sm-4">
                                              <div class="form-group">
                                                <input type="checkbox" name="agency_7" id="agency_7">
                                                <label for="agency_7"> <span class="box"></span>
                                                  <span class="network-icon with-title"></span> Agency</label>
                                              </div>
                                            </div>
                                            <div class="col-6 col-sm-4">
                                              <div class="form-group">
                                                <input type="checkbox" name="agency_8" id="agency_8">
                                                <label for="agency_8"> <span class="box"></span>
                                                  <span class="network-icon with-title"></span> Agency</label>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="row py-3 justify-content-between">
                                            <div class="col-auto">
                                              <button class="btn btn-block btn-sm btn-cancel" data-dismiss="modal">
                                                Cancel
                                              </button>
                                            </div>
                                            <div class="col-auto">
                                              <button class="btn btn-block btn-primary btn-sm btn-apply">
                                                Apply
                                              </button>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </li>
                                    <li class="dropdown">
                                      <button type="button"
                                              class="btn btn-sm btn-outline-primary"
                                              data-toggle="dropdown"
                                              aria-haspopup="true"
                                              aria-expanded="false">Seo
                                      </button>
                                      <div class="dropdown-menu p-0">
                                        <div class="container-fluid">
                                          <div class="row pt-3">
                                            <div class="col-12">
                                              <div class="row align-items-center justify-content-between">
                                                <div class="col-auto"><h6 class="text-dark d-inline">
                                                    <strong>Seo</strong>
                                                  </h6></div>
                                                <div class="col-auto"><span class="seo__info text-right" role="button">
                                              <img src="/images/info.svg" alt="Awareness">
                                            </span></div>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="row py-3 justify-content-center flex-sm-column">
                                            <div class="col-auto">
                                              <p>Use this filter to find blogs suitable for link building</p>
                                            </div>
                                            <div class="col-auto">
                                              <div class="form-group">
                                                <input type="checkbox" name="unique_domain" id="unique_domain"> <label
                                                  for="unique_domain">
                                                  <span class="box"></span> Unique Domain ex annasblog.com</label>
                                              </div>
                                            </div>
                                            <div class="col-auto">
                                              <div class="form-group">
                                                <input type="checkbox" name="subdomain_domain" id="subdomain_domain">
                                                <label for="subdomain_domain">
                                                  <span class="box"></span> Subdomain Domain annasblog.blogspot.dom</label>
                                              </div>
                                            </div>
                                            <div class="col-auto">
                                              <div class="form-group">
                                                <input type="checkbox" name="directory_domain" id="directory_domain">
                                                <label for="directory_domain">
                                                  <span class="box"></span> Directory Domain metromode.com/annas</label>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="row py-3">
                                            <div class="col-12">
                                              <div class="gs-sliderrange-wrapper">
                                                <div class="form-group">
                                                  <div class="mb-4">
                                                    <h6 class="text-dark mb-4"><strong>Domain SEO Strength (DA)</strong>
                                                    </h6>
                                                    <input title="gs-handle--input"
                                                           type="text"
                                                           class="form-control d-inline"
                                                           data-handle="0"/> <span class="text-asphalt mx-1">-</span>
                                                    <input title="gs-handle--input"
                                                           type="text"
                                                           class="form-control d-inline"
                                                           data-handle="1"/>
                                                  </div>
                                                  <div id="sliderSeo"
                                                       class="gs-range--slider"
                                                       data-start="0, 100"
                                                       data-min="0"
                                                       data-max="100"
                                                       data-step="1"
                                                       data-connect="true"></div>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="row py-3 justify-content-between">
                                            <div class="col-auto">
                                              <button class="btn btn-block btn-sm btn-cancel" data-dismiss="modal">
                                                Cancel
                                              </button>
                                            </div>
                                            <div class="col-auto">
                                              <button class="btn btn-block btn-primary btn-sm btn-apply">
                                                Apply
                                              </button>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </li>
                                    <li class="dropdown">
                                      <button type="button"
                                              class="btn btn-sm btn-outline-primary"
                                              data-toggle="dropdown"
                                              aria-haspopup="true"
                                              aria-expanded="false">Other
                                      </button>
                                      <div class="dropdown-menu p-0">
                                        <div class="container-fluid">
                                          <div class="row pt-3">
                                            <div class="col-12">
                                              <h4 class="text-asphalt mb-3">
                                                Only influencers with e-mail </h4>
                                            </div>
                                            <div class="col-12">
                                              <div class="form-group m-0">
                                                <input type="radio" name="email_only" id="no" value="no">
                                                <label class="mb-0 p-2"
                                                       for="no"><span class="dot"></span>No, show everyone</label>
                                              </div>
                                            </div>
                                            <div class="col-12">
                                              <div class="form-group m-0">
                                                <input type="radio" name="email_only" id="yes" value="yes">
                                                <label class="mb-0 p-2"
                                                       for="yes"><span class="dot"></span>Yes, only show them with e-mail</label>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="row py-3 justify-content-between">
                                            <div class="col-auto">
                                              <button class="btn btn-block btn-sm btn-cancel" data-dismiss="modal">
                                                Cancel
                                              </button>
                                            </div>
                                            <div class="col-auto">
                                              <button class="btn btn-block btn-primary btn-sm btn-apply">
                                                Apply
                                              </button>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </li>
                                  </ul>
                                </div>
                                <div class="col-auto pl-0">
                                  <a role="button" class="btn btn-clear">Clear all filters</a>
                                </div>
                              </div>
                            </div>
                            <div class="col d-md-none pt-2">
                              <button type="button"
                                      class="btn btn-sm btn-outline-primary"
                                      data-toggle="modal"
                                      data-target=".modal-filters">Filters
                              </button>
                            </div>
                            <div class="col-12 px-0">
                              <hr>
                            </div>
                          </div>
                          <div class="row justify-content-between align-items-center">
                            <div class="col-12 col-md-8 mb-3 mb-md-0">
                              <h4 class="text-asphalt mb-0">We found 31 influencers within your search criteria</h4>
                            </div>
                            <div class="col-12 col-md-4">
                              <select title="sortBy"
                                      style="width: 100%;"
                                      name="sortBy"
                                      id="sortBy"
                                      class="form-control">
                                <option>Followers</option>
                                <option>Rating</option>
                                <option>Feedback</option>
                                <option>Earnings</option>
                              </select>
                            </div>
                          </div>
                          <div class="row p-3">
                            <% for(let i = 0; i < influencers.length;i++) {
                              let _infl = new Influencer(influencers[i])
                            %>
                            <div class="col-12 col-sm-6 col-lg-4">
                              <%= _infl.init() %>
                            </div>
                            <% } %>
                          </div>
                          <div class="row p-3 justify-content-center">
                            <div class="col-auto">
                              <div class="container-fluid">
                                <ul class="pagination row justify-content-between">
                                  <li>
                                    <a href="#" class="rounded-circle bg-primary"><b class="text-white">1</b></a>
                                  </li>
                                  <li>
                                    <a href="#" class="r-34"><b class="text-primary">2</b></a>
                                  </li>
                                  <li><a href="#"><b class="text-primary">3</b></a>
                                  </li>
                                  <li>...</li>
                                  <li><a href="#"><b class="text-primary">7</b></a>
                                  </li>
                                  <li>
                                    <a href="#" class="rounded-circle"><i class="icon-arrow-right-bold"></i></a>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>
                          <div class="row p-3">
                            <div class="col-12 text-center">
                              <p class="mb-0 text-muted">1-6 0f 100+ influencers available</p>
                            </div>
                          </div>
                        </div>
                        <div class="tab-pane fade" id="likedInfluencer" role="tabpanel">
                          <div class="row p-3">
                            <div class="col-12 col-sm-6 col-lg-4">

                            </div>
                          </div>
                          <div class="row py-3 justify-content-center">
                            <div class="col-auto">
                              <div class="container-fluid">
                                <ul class="pagination row justify-content-between">
                                  <li><a href="#" class="rounded-circle bg-primary"><b class="text-white">1</b></a>
                                  </li>
                                  <li><a href="#" class="r-34"><b class="text-primary">2</b></a></li>
                                  <li><a href="#"><b class="text-primary">3</b></a>
                                  </li>
                                  <li>...</li>
                                  <li><a href="#"><b class="text-primary">7</b></a>
                                  </li>
                                  <li>
                                    <a href="#" class="rounded-circle"><i class="icon-arrow-right-bold"></i></a>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="tab-pane fade" id="myInfluencer" role="tabpanel">
                          <div class="row p-3">
                            <div class="col-12 col-sm-6 col-lg-4">

                            </div>
                          </div>
                          <div class="row py-3 justify-content-center">
                            <div class="col-auto">
                              <div class="container-fluid">
                                <ul class="pagination row justify-content-between">
                                  <li><a href="#" class="rounded-circle bg-primary"><b class="text-white">1</b></a>
                                  </li>
                                  <li><a href="#" class="r-34"><b class="text-primary">2</b></a></li>
                                  <li><a href="#"><b class="text-primary">3</b></a>
                                  </li>
                                  <li>...</li>
                                  <li><a href="#"><b class="text-primary">7</b></a>
                                  </li>
                                  <li>
                                    <a href="#" class="rounded-circle"><i class="icon-arrow-right-bold"></i></a>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="tab-pane fade" id="wishlist" role="tabpanel">
                          <div class="row p-3">
                            <div class="col-12">
                              Wishlist
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <%= require('html-loader!./partials/filters.html') %>
  <%= require('html-loader!./partials/single-influencer.html') %>
</body>

</html>

