<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
  <%= require('html-loader?interpolate=true&minimize=false!./partials/header/header.html') %>
  <div id="homepage">
    <ol id="pageMap" style="padding: 40px;">
      <li><a href="./ui.html" style="padding: 5px 10px;">UI Page</a></li>
      <li><a href="./signup.html" style="padding: 5px 10px;">Signup Page - step 1</a></li>
      <li><a href="./signup2.html" style="padding: 5px 10px;">Signup Page - step 2</a></li>
      <li><a href="./login.html" style="padding: 5px 10px;">Login Page</a></li>
      <li><a href="./welcome.html" style="padding: 5px 10px;">Welcome Page</a></li>
      <li><a href="./brand-welcome.html" style="padding: 5px 10px;">Brand Welcome Page</a></li>
      <li><a href="./brand-campaign.html" style="padding: 5px 10px;">Brand Campaign Page</a></li>
      <li><a href="./brand-set-profile.html" style="padding: 5px 10px;">Brand Set Profile Page</a></li>
      <li><a href="./brand-register-step1.html" style="padding: 5px 10px;">Brand Register Page 1</a></li>
      <li><a href="./brand-register-step2.html" style="padding: 5px 10px;">Brand Register Page 2</a></li>
      <li><a href="./brand-register-step3.html" style="padding: 5px 10px;">Brand Register Page 3</a></li>
      <li><a href="./brand-find-influencer.html" style="padding: 5px 10px;">Brand Find Influencer</a></li>
      <li><a href="./brand-find-influencer2.html" style="padding: 5px 10px;">Brand Find Influencer (Launch)</a></li>
    </ol>
  </div>
</body>
</html>
