<button class="btn btn-sm btn-outline-primary"
  data-toggle="dropdown"
  aria-haspopup="true"
  title="Agencies"
  aria-expanded="false"><i class="icon-close ml-2 align-middle"></i>
</button>
<div class="dropdown-menu p-0">
  <div class="container-fluid">
    <div class="form-row py-3 align-items-center">
      <div class="col-6 col-sm-4">
        <input type="checkbox" class="checked-all" name="agencies_all" id="agencies_all">
        <label for="agencies_all"><span class="box"></span>All agencies</label>
      </div>
      <div class="col-6 col-sm-4">
        <input type="checkbox" name="networks_gs" id="networks_gs"> <label for="networks_gs"> <span class="box"></span>
          <span class="network-icon with-title gs"></span> GrowSocial</label>
      </div>
      <div class="col-6 col-sm-4">
        <input type="checkbox" name="agency_1" id="agency_1"> <label for="agency_1"> <span class="box"></span> <span
            class="network-icon with-title"></span> Agency</label>
      </div>
      <div class="col-6 col-sm-4">
        <input type="checkbox" name="agency_2" id="agency_2"> <label for="agency_2"> <span class="box"></span> <span
            class="network-icon with-title"></span> Agency</label>
      </div>
      <div class="col-6 col-sm-4">
        <input type="checkbox" name="agency_3" id="agency_3"> <label for="agency_3"> <span class="box"></span> <span
            class="network-icon with-title"></span> Agency</label>
      </div>
      <div class="col-6 col-sm-4">
        <input type="checkbox" name="agency_4" id="agency_4"> <label for="agency_4"> <span class="box"></span> <span
            class="network-icon with-title"></span> Agency</label>
      </div>
      <div class="col-6 col-sm-4">
        <input type="checkbox" name="agency_5" id="agency_5"> <label for="agency_5"> <span class="box"></span> <span
            class="network-icon with-title"></span> Agency</label>
      </div>
      <div class="col-6 col-sm-4">
        <input type="checkbox" name="agency_6" id="agency_6"> <label for="agency_6"> <span class="box"></span> <span
            class="network-icon with-title"></span> Agency</label>
      </div>
      <div class="col-6 col-sm-4">
        <input type="checkbox" name="agency_7" id="agency_7"> <label for="agency_7"> <span class="box"></span> <span
            class="network-icon with-title"></span> Agency</label>
      </div>
      <div class="col-6 col-sm-4">
        <input type="checkbox" name="agency_8" id="agency_8"> <label for="agency_8"> <span class="box"></span> <span
            class="network-icon with-title"></span> Agency</label>
      </div>
    </div>
    <div class="form-row py-3 justify-content-between align-items-center">
      <div class="col-auto">
        <button class="btn btn-block btn-sm btn-cancel" type="button" data-dismiss="dropdown">
          Cancel
        </button>
      </div>
      <div class="col-auto">
        <button class="btn btn-block btn-primary btn-sm btn-apply">
          Apply
        </button>
      </div>
    </div>
  </div>
</div>
