<button class="btn btn-sm btn-outline-primary" data-toggle="dropdown" aria-haspopup="true" title="Agencies"
  aria-expanded="false"><svg class="btn-svg--close" width="14px" height="14px" viewBox="0 0 22 22" version="1.1">
  <defs></defs>
  <g id="Launch-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
    <g id="Profile-view" transform="translate(-109.000000, -384.000000)" stroke="#FFFFFF" stroke-width="3">
      <g id="Group-6-Copy-2" transform="translate(111.000000, 386.000000)">
        <path d="M0,0 L18,18" id="Stroke-1"></path>
        <path d="M18,0 L0,18" id="Stroke-3"></path>
      </g>
    </g>
  </g>
</svg>
</button>
<div class="dropdown-menu p-0">
  <div class="container-fluid">
    <div class="form-row py-3 align-items-center">
      <div class="col-6 col-sm-4">
        <input type="checkbox" data-use=" label, " class="checked-all" name="agencies_all" id="agencies_all"> <label
          for="agencies_all"><span class="box"></span>All agencies</label>
      </div>
      <div class="col-6 col-sm-4">
        <input type="checkbox" data-use=" label, " name="networks_gs" id="networks_gs"> <label for="networks_gs"> <span
            class="box"></span> <span class="network-icon with-title gs"></span>GrowSocial</label>
      </div>
      <div class="col-6 col-sm-4">
        <input type="checkbox" data-use=" label, " name="agency_1" id="agency_1"> <label for="agency_1"> <span
            class="box"></span><span class="network-icon with-title"></span>Agency</label>
      </div>
      <div class="col-6 col-sm-4">
        <input type="checkbox" data-use=" label, " name="agency_2" id="agency_2"> <label for="agency_2"> <span
            class="box"></span><span class="network-icon with-title"></span>Agency</label>
      </div>
      <div class="col-6 col-sm-4">
        <input type="checkbox" data-use=" label, " name="agency_3" id="agency_3"> <label for="agency_3"> <span
            class="box"></span><span class="network-icon with-title"></span>Agency</label>
      </div>
      <div class="col-6 col-sm-4">
        <input type="checkbox" data-use=" label, " name="agency_4" id="agency_4"> <label for="agency_4"> <span
            class="box"></span><span class="network-icon with-title"></span>Agency</label>
      </div>
      <div class="col-6 col-sm-4">
        <input type="checkbox" data-use=" label, " name="agency_5" id="agency_5"> <label for="agency_5"> <span
            class="box"></span><span class="network-icon with-title"></span>Agency</label>
      </div>
      <div class="col-6 col-sm-4">
        <input type="checkbox" data-use=" label, " name="agency_6" id="agency_6"> <label for="agency_6"> <span
            class="box"></span><span class="network-icon with-title"></span>Agency</label>
      </div>
      <div class="col-6 col-sm-4">
        <input type="checkbox" data-use=" label, " name="agency_7" id="agency_7"> <label for="agency_7"> <span
            class="box"></span><span class="network-icon with-title"></span>Agency</label>
      </div>
      <div class="col-6 col-sm-4">
        <input type="checkbox" data-use=" label, " name="agency_8" id="agency_8"> <label for="agency_8"> <span
            class="box"></span><span class="network-icon with-title"></span>Agency</label>
      </div>
    </div>
    <div class="form-row py-3 justify-content-between align-items-center dropdown-menu--actions">
      <div class="col-auto">
        <button class="btn btn-block btn-sm btn-cancel" type="button" data-dismiss="dropdown">
          Clear
        </button>
      </div>
      <div class="col-auto">
        <button class="btn btn-block btn-primary btn-sm btn-apply" type="button">
          Apply
        </button>
      </div>
    </div>
  </div>
</div>
