<button class="btn btn-sm btn-outline-primary"
        data-toggle="dropdown"
        aria-haspopup="true"
        title="Comments"
        aria-expanded="false">
  <i class="icon-close ml-2 align-middle"></i>
</button>
<div class="dropdown-menu p-0">
  <div class="container-fluid">
    <div class="form-row py-3 align-items-center">
      <div class="col">
        <h6 class="text-dark mb-0"><strong>Average comments per post</strong></h6>
      </div>
      <div class="col-auto">
        <img src="../../assets/images/info.svg" class="r-icon--medium align-middle" alt=" ">
      </div>
    </div>
    <div class="form-row py-3 align-items-center">
      <div class="col-12">
        <div class="form-range-group">
          <div class="form-group">
            <div class="mb-4">
              <input style="max-width: 100px;"
                     title="gs-handle--input"
                     type="number"
                     maxlength="4"
                     data-use="value -"
                     class="form-control d-inline"
                     data-handle="0"
                     value="0"/>
              <span class="text-asphalt mx-1">-</span>
              <input style="max-width: 100px;"
                     title="gs-handle--input"
                     type="number"
                     maxlength="4"
                     data-use="value"
                     class="form-control d-inline"
                     data-handle="1"
                     value="1000"/>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-row py-3 align-items-center justify-content-between dropdown-menu--actions">
      <div class="col-auto">
        <button class="btn btn-block btn-sm btn-cancel" type="button" data-dismiss="dropdown">
          Clear
        </button>
      </div>
      <div class="col-auto">
        <button class="btn btn-block btn-primary btn-sm btn-apply" type="button">
          Apply
        </button>
      </div>
    </div>
  </div>
</div>
