<button class="btn btn-sm btn-outline-primary" data-toggle="dropdown" aria-haspopup="true" title="Comments"
  aria-expanded="false">
  <i class="icon-close ml-2 align-middle"></i>
</button>
<div class="dropdown-menu p-0" style="max-width: 100%; width: 470px;">
  <div class="container-fluid">
    <div class="form-row py-3 align-items-center">
      <div class="col">
        <h6 class="text-dark mb-0"><strong>Average comments per post</strong></h6>
      </div>
      <div class="col-auto"><button type="button" class="btn p-0 bg-white" data-toggle="modal" data-target="#answerComments">
        <img class="r-icon--medium" src="../../assets/images/info.svg" alt="Awareness">
      </button>
      </div>
    </div>
    <div class="form-row pb-3 align-items-center">
      <div class="col-12">
        <div class="form-range-group">
          <div class="form-group">
            <div class="mb-4">
              <input style="max-width: 100px;" title="gs-handle--input" type="text" class="form-control d-inline"
                data-handle="0" data-use="value - " value="0"/> <span class="text-asphalt mx-1">-</span> <input
                style="max-width: 100px;" title="gs-handle--input" type="text" class="form-control d-inline"
                data-handle="1" data-use="value , " value="1000"/>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-row pb-3 align-items-center">
      <div class="col">
        <h6 class="text-dark mb-0"><strong>Average comments per 100,000 followers</strong></h6>
      </div>
    </div>
    <div class="form-row py-3 align-items-center">
      <div class="col-12">
        <div class="form-range-group">
          <div class="form-group">
            <div class="mb-4">
              <input style="max-width: 100px;" title="gs-handle--input" type="text" class="form-control d-inline"
                data-handle="0" data-use="value - "/> <span class="text-asphalt mx-1">-</span> <input
                style="max-width: 100px;" title="gs-handle--input" type="text" class="form-control d-inline"
                data-handle="1" data-use="value"/>
            </div>
            <div id="sliderComents2" class="gs-range--slider" data-start="0,500" data-min="0" data-max="1000+"
              data-step="1" data-connect="true"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-row py-3 align-items-center justify-content-between dropdown-menu--actions">
      <div class="col-auto">
        <button class="btn btn-block btn-sm btn-cancel" type="button" data-dismiss="dropdown">
          Cancel
        </button>
      </div>
      <div class="col-auto">
        <button class="btn btn-block btn-primary btn-sm btn-apply" type="button">
          Apply
        </button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="answerComments" tabindex="-1" role="dialog" aria-labelledby="answerModalLabel"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="container-fluid">
        <div class="form-row py-4">
          <div class="col">
            <h6 class="text-dark text-center mb-0"><strong>Answer</strong></h6>
          </div>
        </div>
        <div class="form-row">
          <div class="col">
            <p class="m-0">Lucky for us, we too have significant social media following. we have 186k followers
              on our two Facebook pages, an estimated 80k on our Snapchat, 32k on Instagram and a paltry 12k on our
              Twitter, but Jesus Christ, I would never in a million years ask anyone for anything for free.</p>
          </div>

        </div>
        <div class="form-row py-4">
          <div class="col text-center">
            <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal">Close</button>
          </div>

        </div>
      </div>

    </div>

  </div>
</div>
