<button class="btn btn-sm btn-outline-primary"
        data-toggle="dropdown"
        aria-haspopup="true"
        title="Engagement"
        aria-expanded="false">
  <i class="icon-close ml-2 align-middle"></i>
</button>
<div class="dropdown-menu p-0">
  <div class="container-fluid">
    <div class="form-row py-3 align-items-center">
      <div class="col">
        <h6 class="text-dark mb-0"><strong>Engagement</strong></h6>
      </div>
      <div class="col-auto">
        <img src="../../assets/images/info.svg" class="r-icon--medium align-middle ml-1" alt=" ">
      </div>
    </div>
    <div class="form-row py-3 align-items-center">
      <div class="col-12">
        <div class="form-range-group">
          <div class="form-group">
            <div class="mb-4">
              <input style="max-width: 100px;"
                     title="gs-handle--input"
                     type="text"
                     class="form-control d-inline"
                     data-handle="0"
                     data-use="value - "/>
              <span class="text-asphalt mx-1">-</span>
              <input style="max-width: 100px;"
                     title="gs-handle--input"
                     type="text"
                     class="form-control d-inline"
                     data-handle="1"
                     data-use="value"/>
            </div>
            <div id="sliderEngagement"
                 class="gs-range--slider"
                 data-start="0,29%"
                 data-min="0"
                 data-max="+30%"
                 data-step="1%"
                 data-suffix="%"
                 data-connect="true"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-row py-3 align-items-center justify-content-between dropdown-menu--actions">
      <div class="col-auto">
        <button class="btn btn-block btn-sm btn-cancel" type="button" data-dismiss="dropdown">
          Cancel
        </button>
      </div>
      <div class="col-auto">
        <button class="btn btn-block btn-primary btn-sm btn-apply" type="button">
          Apply
        </button>
      </div>
    </div>
  </div>
</div>
