<button class="btn btn-sm btn-outline-primary"
        data-toggle="dropdown"
        aria-haspopup="true"
        title="Save or Load"
        aria-expanded="false">
  <i class="icon-close ml-2 align-middle"></i>
</button>
<div class="dropdown-menu p-0" style="max-width: 100%; width: 170px;">
  <div class="py-4">
    <a class="dropdown-item" href="#">Save this filter</a>
    <a class="dropdown-item" href="#">Load filter</a>
    <a class="dropdown-item" href="#">Clear all filter</a>
  </div>
</div>
