<button type="button" class="btn btn-sm btn-outline-primary" data-toggle="dropdown" aria-haspopup="true" title="Gender"
  aria-expanded="false"><svg class="btn-svg--close" width="14px" height="14px" viewBox="0 0 22 22" version="1.1">
  <defs></defs>
  <g id="Launch-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
    <g id="Profile-view" transform="translate(-109.000000, -384.000000)" stroke="#FFFFFF" stroke-width="3">
      <g id="Group-6-Copy-2" transform="translate(111.000000, 386.000000)">
        <path d="M0,0 L18,18" id="Stroke-1"></path>
        <path d="M18,0 L0,18" id="Stroke-3"></path>
      </g>
    </g>
  </g>
</svg></button>
<div class="dropdown-menu p-0" style="width: 400px;">
  <div class="container-fluid">
    <div class="form-row py-3 align-items-center">
      <div class="col">
        <h6 class="text-dark mb-0"><strong>Gender</strong></h6>
      </div>
      <div class="col-auto">
        <button type="button" class="btn p-0 bg-white" data-toggle="modal" data-target="#answerGender">
          <img class="r-icon--medium" src="../../assets/images/info.svg" alt="Awareness">
        </button>
      </div>
    </div>
    <div class="form-row pb-3 justify-content-center flex-sm-column">
      <div class="col-12">
        <input type="checkbox" name="gender" id="men" data-use=" label, "/> <label for="men"> <span class="box"></span>Men</label>
      </div>
      <div class="col-12">
        <input type="checkbox" name="gender" id="women" data-use=" label, "/> <label for="women"> <span
            class="box"></span>Women</label>
      </div>
      <div class="col-12">
        <input type="checkbox" name="gender" id="brand" data-use=" label, "/> <label for="brand"> <span
            class="box"></span>Brand</label>
      </div>
      <div class="col-12">
        <input type="checkbox" name="gender" id="unknown" data-use=" label, "/> <label for="unknown"> <span
            class="box"></span>Unknown</label>
      </div>
    </div>
    <div class="form-row py-3">
      <div class="col-12">
        <p class="mb-0">The demographics data is not 100% correct</p>
        <a href="#">(read more)</a>
      </div>
    </div>
    <!--<div class="form-row py-3 pb-4">-->
    <!--<div class="col-sm-5 col-md pb-5 py-md-0">-->
    <!--<div class="form-range-group">-->
    <!--<div class="form-group">-->
    <!--<div class="mb-4">-->
    <!--<label class="label-basic text-dark d-block">Age</label> <input id="from"-->
    <!--title="gs-handle&#45;&#45;input"-->
    <!--type="text"-->
    <!--class="form-control d-inline"-->
    <!--data-handle="0"-->
    <!--data-use="(value -"/>-->
    <!--<span class="text-asphalt mx-1">-</span><input title="gs-handle&#45;&#45;input"-->
    <!--type="text"-->
    <!--class="form-control d-inline"-->
    <!--id="to"-->
    <!--data-handle="1"-->
    <!--data-use=" value)"/>-->
    <!--<span class="text-asphalt ml-1">years</span>-->
    <!--</div>-->
    <!--<div id="sliderAge"-->
    <!--class="gs-range&#45;&#45;slider"-->
    <!--data-start="13, 25"-->
    <!--data-min="13"-->
    <!--data-max="65+"-->
    <!--data-step="1"-->
    <!--data-connect="true"></div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <div class="form-row py-3 justify-content-between dropdown-menu--actions">
      <div class="col-auto">
        <button class="btn btn-block btn-sm btn-cancel" type="button" data-dismiss="dropdown">
          Clear
        </button>
      </div>
      <div class="col-auto">
        <button class="btn btn-block btn-primary btn-sm btn-apply" type="button">
          Apply
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="answerGender" tabindex="-1" role="dialog" aria-labelledby="answerModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="container-fluid">
        <div class="form-row py-4">
          <div class="col">
            <h6 class="text-dark text-center mb-0"><strong>Answer</strong></h6>
          </div>
        </div>
        <div class="form-row">
          <div class="col">
            <p class="m-0">Lucky for us, we too have significant social media following. we have 186k followers
              on our two Facebook pages, an estimated 80k on our Snapchat, 32k on Instagram and a paltry 12k on our
              Twitter, but Jesus Christ, I would never in a million years ask anyone for anything for free.</p>
          </div>

        </div>
        <div class="form-row py-4">
          <div class="col text-center">
            <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal">Close</button>
          </div>

        </div>
      </div>

    </div>

  </div>
</div>
