<button type="button"
        class="btn btn-sm btn-outline-primary"
        data-toggle="dropdown"
        aria-haspopup="true"
        title="Gender"
        aria-expanded="false"><i class="icon-close ml-2 align-middle"></i></button>
<div class="dropdown-menu p-0">
  <div class="container-fluid">
    <div class="form-row py-3">
      <div class="col-12">
        <h6 class="text-dark mb-0"><strong>Gender</strong></h6>
      </div>
    </div>
    <div class="form-row py-3 justify-content-center flex-sm-column">
      <div class="col-auto">
        <input type="checkbox" name="gender" id="men" data-use=" label, "/>
        <label for="men"> <span class="box"></span>Men</label>
      </div>
      <div class="col-auto">
        <input type="checkbox" name="gender" id="women" data-use=" label, "/>
        <label for="women"> <span class="box"></span>Women</label>
      </div>
      <div class="col-auto">
        <input type="checkbox" name="gender" id="brand" data-use=" label, "/>
        <label for="brand"> <span class="box"></span>Brand</label>
      </div>
      <div class="col-auto">
        <input type="checkbox" name="gender" id="unknown" data-use=" label, "/>
        <label for="unknown">
          <span class="box"></span>Unknown</label>
      </div>
    </div>
    <div class="form-row py-3">
      <div class="col-12">
        <p class="mb-0">The demographics data is not 100% correct</p>
        <a href="#">(read more)</a>
      </div>
    </div>
    <!--<div class="form-row py-3 pb-4">-->
    <!--<div class="col-sm-5 col-md pb-5 py-md-0">-->
    <!--<div class="form-range-group">-->
    <!--<div class="form-group">-->
    <!--<div class="mb-4">-->
    <!--<label class="label-basic text-dark d-block">Age</label> <input id="from"-->
    <!--title="gs-handle&#45;&#45;input"-->
    <!--type="text"-->
    <!--class="form-control d-inline"-->
    <!--data-handle="0"-->
    <!--data-use="(value -"/>-->
    <!--<span class="text-asphalt mx-1">-</span><input title="gs-handle&#45;&#45;input"-->
    <!--type="text"-->
    <!--class="form-control d-inline"-->
    <!--id="to"-->
    <!--data-handle="1"-->
    <!--data-use=" value)"/>-->
    <!--<span class="text-asphalt ml-1">years</span>-->
    <!--</div>-->
    <!--<div id="sliderAge"-->
    <!--class="gs-range&#45;&#45;slider"-->
    <!--data-start="13, 25"-->
    <!--data-min="13"-->
    <!--data-max="65+"-->
    <!--data-step="1"-->
    <!--data-connect="true"></div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <div class="form-row py-3 justify-content-between dropdown-menu--actions">
      <div class="col-auto">
        <button class="btn btn-block btn-sm btn-cancel" type="button" data-dismiss="dropdown">
          Cancel
        </button>
      </div>
      <div class="col-auto">
        <button class="btn btn-block btn-primary btn-sm btn-apply" type="button">
          Apply
        </button>
      </div>
    </div>
  </div>
</div>
