<button class="btn btn-sm btn-outline-primary"
        data-toggle="dropdown"
        aria-haspopup="true"
        title="Languages"
        aria-expanded="false"><i class="icon-close ml-2 align-middle"></i>
</button>
<div class="dropdown-menu p-0">
  <div class="container-fluid">
    <div class="form-row py-3">
      <div class="col-6 col-sm-4">
        <input type="checkbox" class="checked-all" name="languages_all" id="languages_all"> <label for="languages_all">
          <span class="box"></span>All languages</label>
      </div>
      <div class="col-6 col-sm-4">
        <input type="checkbox" data-use="label" name="languages_uk" id="languages_uk"> <label for="languages_uk"> <span
            class="box"></span>
          <img src="../../assets/images/flags/uk.svg" class="rounded-circle r-icon--medium mr-2 align-middle" alt="">UK</label>
      </div>
      <div class="col-6 col-sm-4">
        <input type="checkbox"
               data-use="label"
               name="languages_english"
               id="languages_english"> <label for="languages_english"> <span class="box"></span><img src="../../assets/images/flags/uk.svg"
                                                                                                         class="rounded-circle r-icon--medium mr-2 align-middle"
                                                                                                         alt="">English</label>
      </div>
      <div class="col-6 col-sm-4">
        <input type="checkbox"
               data-use="label"
               name="languages_youtube"
               id="languages_youtube"> <label for="languages_youtube">
          <span class="box"></span><img src="../../assets/images/flags/uk.svg"
                                        class="rounded-circle r-icon--medium mr-2 align-middle"
                                        alt="">Youtube</label>
      </div>
      <div class="col-6 col-sm-4">
        <input type="checkbox"
               data-use="label"
               name="languages_pinterest"
               id="languages_pinterest"> <label for="languages_pinterest"> <span class="box"></span><img src="../../assets/images/flags/uk.svg"
                                                                                                         class="rounded-circle r-icon--medium mr-2 align-middle"
                                                                                                         alt="">Pinterest</label>
      </div>
      <div class="col-6 col-sm-4">
        <input type="checkbox" data-use="label" name="languages_blog" id="languages_blog"> <label for="languages_blog">
          <span class="box"></span><img src="../../assets/images/flags/uk.svg"
                                        class="rounded-circle r-icon--medium mr-2 align-middle"
                                        alt="">Blog</label>
      </div>
      <div class="col-6 col-sm-4">
        <input type="checkbox"
               data-use="label"
               name="languages_tumblr"
               id="languages_tumblr"> <label for="languages_tumblr">
          <span class="box"></span><img src="../../assets/images/flags/uk.svg"
                                        class="rounded-circle r-icon--medium mr-2 align-middle"
                                        alt="">Tumblr</label>
      </div>
      <div class="col-6 col-sm-4">
        <input type="checkbox"
               data-use="label"
               name="languages_podcast"
               id="languages_podcast"> <label for="languages_podcast">
          <span class="box"></span><img src="../../assets/images/flags/uk.svg"
                                        class="rounded-circle r-icon--medium mr-2 align-middle"
                                        alt="">Podcast</label>
      </div>
      <div class="col-6 col-sm-4">
        <input type="checkbox"
               data-use="label"
               name="languages_snapchat"
               id="languages_snapchat"> <label for="languages_snapchat"> <span class="box"></span><img src="../../assets/images/flags/uk.svg"
                                                                                                       class="rounded-circle r-icon--medium mr-2 align-middle"
                                                                                                       alt="">Snapchat</label>
      </div>
      <div class="col-6 col-sm-4">
        <input type="checkbox" data-use="label" name="languages_fb" id="languages_fb"> <label for="languages_fb"> <span
            class="box"></span>
          <img src="../../assets/images/flags/uk.svg" class="rounded-circle r-icon--medium mr-2 align-middle" alt="">Facebook</label>
      </div>
    </div>
    <div class="form-row row py-3 justify-content-between">
      <div class="col-auto">
        <button class="btn btn-block btn-sm btn-cancel" type="button" data-dismiss="dropdown">
          Cancel
        </button>
      </div>
      <div class="col-auto">
        <button class="btn btn-block btn-primary btn-sm btn-apply">
          Apply
        </button>
      </div>
    </div>
  </div>
</div>
