<button class="btn btn-sm btn-outline-primary"
        data-toggle="dropdown"
        aria-haspopup="true"
        title="Networks"
        aria-expanded="false"><i class="icon-close ml-2 align-middle"></i>
</button>
<div class="dropdown-menu p-0">
  <div class="container-fluid">
    <div class="row py-3">
      <div class="col-6 col-sm-4">
        <div class="form-group">
          <input type="checkbox"
                 class="checked-all"
                 name="networks_all"
                 id="networks_all"> <label for="networks_all">
          <span class="box"></span> All networks</label>
        </div>
      </div>
      <div class="col-6 col-sm-4">
        <div class="form-group">
          <input type="checkbox" name="networks_tw" id="networks_tw">
          <label for="networks_tw"> <span class="box"></span>
            <span class="network-icon with-title tw"></span> Twitter</label>
        </div>
      </div>
      <div class="col-6 col-sm-4">
        <div class="form-group">
          <input type="checkbox"
                 name="networks_instagram"
                 id="networks_instagram"> <label for="networks_instagram"> <span
          class="box"></span>
          <span class="network-icon with-title instagram"></span> Instagram</label>
        </div>
      </div>
      <div class="col-6 col-sm-4">
        <div class="form-group">
          <input type="checkbox" name="networks_youtube" id="networks_youtube">
          <label for="networks_youtube"> <span class="box"></span>
            <span class="network-icon with-title youtube"></span> Youtube</label>
        </div>
      </div>
      <div class="col-6 col-sm-4">
        <div class="form-group">
          <input type="checkbox"
                 name="networks_pinterest"
                 id="networks_pinterest"> <label for="networks_pinterest"> <span
          class="box"></span>
          <span class="network-icon with-title pinterest"></span> Pinterest</label>
        </div>
      </div>
      <div class="col-6 col-sm-4">
        <div class="form-group">
          <input type="checkbox" name="networks_blog" id="networks_blog"> <label
          for="networks_blog"> <span class="box"></span>
          <span class="network-icon with-title blog"></span> Blog</label>
        </div>
      </div>
      <div class="col-6 col-sm-4">
        <div class="form-group">
          <input type="checkbox" name="networks_tumblr" id="networks_tumblr">
          <label for="networks_tumblr"> <span class="box"></span>
            <span class="network-icon with-title tumblr"></span> Tumblr </label>
        </div>
      </div>
      <div class="col-6 col-sm-4">
        <div class="form-group">
          <input type="checkbox" name="networks_podcast" id="networks_podcast">
          <label for="networks_podcast"> <span class="box"></span>
            <span class="network-icon with-title podcast"></span> Podcast </label>
        </div>
      </div>
      <div class="col-6 col-sm-4">
        <div class="form-group">
          <input type="checkbox" name="networks_snapchat" id="networks_snapchat">
          <label for="networks_snapchat"> <span class="box"></span>
            <span class="network-icon with-title snapchat"></span> Snapchat</label>
        </div>
      </div>
      <div class="col-6 col-sm-4">
        <div class="form-group">
          <input type="checkbox" name="networks_fb" id="networks_fb">
          <label for="networks_fb"> <span class="box"></span>
            <span class="network-icon with-title fb"></span> Facebook</label>
        </div>
      </div>
    </div>
    <div class="row py-3 justify-content-between">
      <div class="col-auto">
        <button class="btn btn-block btn-sm btn-cancel" type="button" data-dismiss="dropdown">
          Cancel
        </button>
      </div>
      <div class="col-auto">
        <button class="btn btn-block btn-primary btn-sm btn-apply">
          Apply
        </button>
      </div>
    </div>
  </div>
</div>
