<button type="button"
  class="btn btn-sm btn-outline-primary"
  data-toggle="dropdown"
  aria-haspopup="true"
  title="Other"
  aria-expanded="false"><i class="icon-close ml-2 align-middle"></i>
</button>
<div class="dropdown-menu">
  <div class="container-fluid">
    <div class="form-row pt-3">
      <div class="col-12">
        <h5 class="text-asphalt mb-4">
          <strong>Only influencers with e-mail </strong>
        </h5>
      </div>
      <div class="col-12">
        <input data-use="label" type="radio" name="email_only" id="no" value="no" checked> <label class="mb-0"
          for="no"><span class="dot"></span>No, show everyone</label>
      </div>
      <div class="col-12">
        <input data-use="label" type="radio" name="email_only" id="yes" value="yes"> <label class="mb-0"
          for="yes"><span class="dot"></span>Yes, only show them with e-mail</label>
      </div>
    </div>
    <div class="form-row pt-4 pb-3 justify-content-between">
      <div class="col-auto">
        <button class="btn btn-block btn-sm btn-cancel" type="button" data-dismiss="dropdown">
          Cancel
        </button>
      </div>
      <div class="col-auto">
        <button class="btn btn-block btn-primary btn-sm btn-apply">
          Apply
        </button>
      </div>
    </div>
  </div>
</div>
