.network-icon {
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
  background-position: center;
  background-color: #ffffff;
  background-size: 100%;
  background-repeat: no-repeat;
  flex: 0 0 20px;
  &.with-title {
    margin-right: 0.2125rem;
    @include media-breakpoint-up(sm) {
      margin-right: rem-calc(5);
    }
  }
  &.tw {
    background-image: url('../images/networks/twitter.svg');
  }
  &.instagram {
    background-image: url('../images/networks/instagram.svg');
  }
  &.youtube {
    background-image: url('../images/networks/youtube.svg');
  }
  &.pinterest {
    background-image: url('../images/networks/pinterest.svg');
    &.inactive {

    }
  }
  &.blog {
    background-image: url('../images/networks/blog.svg');
  }
  &.tumblr {
    background-image: url('../images/networks/tumblr.svg');
    &.inactive {

    }
  }
  &.podcast {
    background-image: url('../images/networks/podcast.svg');
  }
  &.snapchat {
    background-image: url('../images/networks/snapchat.svg');
  }
  &.fb {
    background-image: url('../images/networks/fb.svg');
    &.inactive {

    }
  }
  &.gs {
    background-image: url("../images/agency/growsocial.svg");
  }
  @include media-breakpoint-up(sm) {
    width: 22px;
    height: 22px;
  }
}

